<section class="cases cases2 cases3">
  <div class="cnt">
    <div class="row text-center justify-content-center">
      <div class="col-md-8 col-12">
        <p>Мы подробно описали все детали оформления гражданства по каждой программе
          с примерами всех документов по процессу. Ознакомившись с кейсом Вы узнаете:
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Какие действия требуются от Вас и что делает наша компания и правительство</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>В чем выгоды именно этой программы по сравнению с другими</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Полный перечень документов</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Примеры документов по процессу</p>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Сложности на каждом из этапов и как они решаются</p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="rubric">
          <div class="rubric-a">Выберите рубрику...</div>
          <div class="rubric-h">
            <div class="rubric-h__i">Сент-Китс и Невис</div>
            <div class="rubric-h__i">Сент-Китс и Невис</div>
            <div class="rubric-h__i">Сент-Китс и Невис</div>
            <div class="rubric-h__i">Вануату</div>
            <div class="rubric-h__i">Вануату</div>
            <div class="rubric-h__i">Вануату</div>
            <div class="rubric-h__i">Доминика</div>
            <div class="rubric-h__i">Доминика</div>
            <div class="rubric-h__i">Доминика</div>
            <div class="rubric-h__i">Гренада</div>
            <div class="rubric-h__i">Гренада</div>
            <div class="rubric-h__i">Гренада</div>
            <div class="rubric-h__i">Антигуа и Барбуда</div>
            <div class="rubric-h__i">Антигуа и Барбуда</div>
            <div class="rubric-h__i">Антигуа и Барбуда</div>
            <div class="rubric-h__i">Сент Люсия</div>
            <div class="rubric-h__i">Сент Люсия</div>
            <div class="rubric-h__i">Сент Люсия</div>
          </div>
        </div>
      </div>
    </div>
    <div class="row mob-c-3">
      <div class="col-xl-6 col-lg-12">
        <div class="cases-b">
          <div class="cases-b-h">
            <img src="img/cases1.png" alt="Cases Image">
            <div class="t-b">
              <h6>КЕЙС</h6>
              <p>Возможность защитить криптовалютные активы</p>
            </div>
          </div>
          <div class="cases-b-c">
            <a href="" class="btn201">ЧИТАТЬ ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="cases-b">
          <div class="cases-b-h">
            <img src="img/cases1.png" alt="Cases Image">
            <div class="t-b">
              <h6>КЕЙС</h6>
              <p>Возможность защитить криптовалютные активы</p>
            </div>
          </div>
          <div class="cases-b-c">
            <a href="" class="btn201">ЧИТАТЬ ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
      <div class="col-xl-6 col-lg-12">
        <div class="cases-b">
          <div class="cases-b-h">
            <img src="img/cases1.png" alt="Cases Image">
            <div class="t-b">
              <h6>КЕЙС</h6>
              <p>Возможность защитить криптовалютные активы</p>
            </div>
          </div>
          <div class="cases-b-c">
            <a href="" class="btn201">ЧИТАТЬ ПОДРОБНЕЕ</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="" class="btn btn225">Все кейсы</a>
    </div>
  </div>
</section>