<section class="reviews">
  <div class="cnt">
    <div class="row">
      <div class="col-lg-11 offset-lg-1">
        <div class="reviews-b">
          <div class="reviews-b__i">
            <div class="reviews-b__img">
              <img src="img/girl.png" alt="Girl">
            </div>
            <div class="reviews-b__txt">
              <div class="reviews-b__h">
                <h4>АЛЕКСАНДР крашевский</h4>
                <div class="reviews-b__loc">
                  <span class="fas fa-map-marker-alt"></span><span>Минск, Беларусь</span>
                </div>
              </div>
              <p><strong>Экс-глава Киевстар, Carlsberg (Украина и Россия), входит в ТОП-3 менеджеров по версии Forbes</strong></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate feugiat elit, non consectetur velit lacinia non. Curabitur sed finibus velit. Etiam a dictum ipsum. Suspendisse potenti. Nulla pharetra elit eu tristique efficitur. Sed ullamcorper turpis vitae erat porta ullamcorper et eu nisl. Vivamus eget posuere libero. Aenean vitae odio suscipit, venenatis diam cursus, bibendum elit. Ut consectetur sagittis eros, lacinia imperdiet lacus molestie et. Pellentesque in ex nec lorem rutrum accumsan at et purus. Fusce congue nec erat at feugiat. Ut a ultricies massa, id convallis turpis.</p>
              <a href="#">Читать больше</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
