<section class="comp-h">
  <div class="cnt">
    <div class="row text-center">
      <div class="col-12">
        <h4>Выберите рубрику</h4>
      </div>
    </div>
    <div class="comp-h-rub">
      <div class="comp-h-rub__i"><a href="">Карибы + вануату - 6 стран</a></div>
      <div class="comp-h-rub__i"><a href="">Карибы + вануату - 6 стран</a></div>
      <div class="comp-h-rub__i"><a href="">Карибы + вануату - 6 стран</a></div>
      <div class="comp-h-rub__i"><a href="">Карибы + вануату - 6 стран</a></div>
      <div class="comp-h-rub__i"><a href="">Карибы + вануату - 6 стран</a></div>
      <div class="comp-h-rub__i"><a href="">Карибы + вануату - 6 стран</a></div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <p>или выберите страны самостоятельно</p>
      </div>
    </div>
  </div>
</section>