<footer class="footer d-none d-md-block">
  <div class="cnt">
    <div class="row">
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>RUSSIA</h6><img src="img/rus.png" alt="Russia">
          <p>Pionerskaya str. 48,<br> office 3,<br>
              post code 197110<br>
              St. Petersburg</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>RUSSIA</h6><img src="img/rus.png" alt="Russia">
          <p>Nikoloyamskaya str. 24,<br> building 1,<br>
              post code 109240<br>
              Moscow</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>CYPRUS</h6><img src="img/cyp.png" alt="CYPRUS">
          <p>124 Amathountas Avenue,<br> Athina Court B, Agios<br> Tychonas,4532<br>
              Limassol</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>KAZAKHSTAN</h6><img src="img/kz.png" alt="KAZAKHSTAN">
          <p>Seifulina str., 498,<br>
              office 5,<br>
              post code 050012<br>
              Almaty</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>Ukraine</h6><img src="img/ukr.png" alt="Ukraine">
          <p>Pochayninska str. 28,<br> office 3,<br>
              post code 04070<br>
              Kiev</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>Portugal</h6><img src="img/por.png" alt="Portugal">
          <p>Rua vale de Orada,<br>
              bloco 2, lote 17,<br>
              fração D, Sesmarias,<br>
              Albufeira</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>Saint Kitts</h6><img src="img/skt.png" alt="Saint Kitts">
          <p>Sand complex a9,<br>
              Basseterre,<br>
              Caribbean</p>
        </div>
      </div>
      <div class="col-lg-2 col-md-4">
        <div class="footer-b">
          <h6>Antigua</h6><img src="img/ant.png" alt="Antigua">
          <p>Upper floor, Falmouth<br> Harbour Marina<br>
              Dockyard Drive, English<br> Harbour, St. Paul’s</p>
        </div>
      </div>
    </div>
  </div>
</footer>