<section class="header header-news2 header-comp">
	<div class="cnt">
    <div class="row">
      <div class="col-12">
        <ul class="b-c">
          <li class="b-c__item"><a href="">Главная</a></li>
          <li class="b-c__item"><a href="">Блог</a></li>
          <li class="b-c__item"><span>Сравнение программ</span></li>
        </ul>
      </div>
    </div>
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
        <h1>Сравнение программ</h1>
        <p>Узнаете особенности каждой из программ и выберите ту,
          которая лучше всего соответствует вашим целям
          </p>
			</div>
		</div>
	</div>
</section>