<section class="conf">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-md-7">
        <h2>Признание</h2>
        <p>Наша экспертиза в вопросах второго гражданства, может помочь вам сделать
          правильный выбор, поэтому мы постоянно делимся своим опытом. У нас более
          300х опубликованых статей в разных изданиях Росии, Украины и Казахстана.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12">
        <div class="owlc2 owl-carousel">
          <div class="conf-item">
            <img src="img/dip.png" alt="Diploma">
            <p>Лицензия официального агента Гренады</p>
          </div>
          <div class="conf-item">
            <img src="img/dip.png" alt="Diploma">
            <p>Лицензия официального агента Гренады</p>
          </div>
          <div class="conf-item">
            <img src="img/dip.png" alt="Diploma">
            <p>Лицензия официального агента Гренады</p>
          </div>
          <div class="conf-item">
            <img src="img/dip.png" alt="Diploma">
            <p>Лицензия официального агента Гренады</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>