<section class="faces">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Migronis в лицах</h2>
        <p>Мы команда с большим опытом, сотрудничаем только с
            надежными и проверенными парнтерами</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-6">
        <div class="faces-b">
          <div class="faces-b-img">
            <img src="img/kris.png" alt="Kristina">
          </div>
          <div class="faces-b-c">
            <h5>Кристина Куркуляк</h5>
            <p>Управляющий партнер</p>
            <p>Сертифицирована правительствами Сент-Люсии, Сент-Китса и Невиса для подачи заявлений о гражданстве по инвестиционной программе</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="" class="btna">ПОДРОБНЕЕ О НАС</a>
    </div>
  </div>
</section>