<section class="risks">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-6 col-12 text-center">
        <h2>Мы берем все риски на себя</h2>
        <p>Мы не хотим, что бы вы рисковали – поэтому берем полную
            ответственность на себя, а вы оплачиваете услугу только
            после положительного результата</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="risks-b">
          <p>6+</p>
          <p>офисов: ЕС, США,<br> Карибские острова, СРГ</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="risks-b">
          <p>26+</p>
          <p>стран в которых мы помогаем получить гражданство или ВНЖ</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="risks-b">
          <p>44+</p>
          <p>программы резидентсва<br> и гражданства</p>
        </div>
      </div>
      <div class="col-md-3 col-6">
        <div class="risks-b">
          <p>60+</p>
          <p>партнеров по всему<br> миру</p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="" class="btn">Заказать консультацию</a>
    </div>
  </div>
</section>