<section class="story">
  <div class="cnt">
    <div class="row">
      <div class="col-md-5">
        <div class="story-t">
          <h4>Компания Мигронис была создана в 2010 году. Основным направлением нашей деятельности является помощь в получении гражданства и вида на жительство за инвестиции.</h4>
          <p>Мы помогаем нашим клиентам получить гражданство или вид на жительство в более чем <strong>20 странах мира,</strong> таких как: США, Великобритания, Кипр, Андорра, Австрия, Мальта, Португалия, Венгрия, Испания, Греция, Латвия, Болгария, Черногория, Грузия, Сент-Китс и Невис, Антигуа и Барбуда, Гренада, Доминика, Сент-Люсия, Вануату, Коморские острова и другие.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vulputate feugiat elit, non consectetur velit lacinia non. Curabitur sed finibus velit.</p>
        </div>
      </div>
      <div class="col-md-5 offset-md-1">
        <div class="story-img">
          <div class="story-img-t">
            <h4>Кристина Куркуляк</h4>
            <p>Управляющий партнер Мигронис</p>
          </div>
          <img src="img/kr.png" alt="Kristina">
        </div>
      </div>
    </div>
  </div>
</section>
