<section class="with-us with-us2">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12 text-center">
        <h2>Мы поможем выбрать самую подходящую
            программу для вас</h2>
        <p>Важно выбрать ту программу которая максимально удовлетворит ваши запросы.
            В этом вам может помочь наш управляющий партнер Кристина Куркуляк.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-7 d-none d-lg-block">
        <div class="with-us-b">
          <img src="img/krist.png" alt="Kristina">
          <div class="t-b">
            <h5>Кристина Ружило</h5>
            <p>Эксперт по программе гражданства<br> за инвестиции Антигуа и Барбуды</p>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="with-us-b zi">
          <h3>Заполните форму</h3>
          <p>И Кристина лично свяжется с вами,<br> что бы обсудить все детали</p>
          <form action="">
            <input type="text" name="name" required placeholder="Имя">
            <input type="email" name="email" required placeholder="Email">
            <input type="phone" name="phone" required placeholder="Телефон">
            <button>Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>