<section class="work work-aus">
  <div class="cnt">
    <div class="row text-center">
      <div class="col-12">
        <h2>Почему клиенты выбирают нас</h2>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Наши адвокаты предоставляют консультации бесплатно!</h6>
          </div>
          <div class="work-b-c">
            <p>Мы делаем это, потому что понимаем, как важно выбрать единственное верное решение.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Вы оплачиваете стоимость наших услуг только в том случае, если получите желаемый результат.</h6>
          </div>
          <div class="work-b-c">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Узкая специализация.</h6>
          </div>
          <div class="work-b-c">
            <p>Мы работаем исключительно в области инвестиционной иммиграции. Мы интегрируем наш опыт в Вашу цель.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Наш опыт позволяет нам прогнозировать конечный результат.</h6>
          </div>
          <div class="work-b-c">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Никаких скрытых платежей.</h6>
          </div>
          <div class="work-b-c">
            <p>Прежде чем мы подпишем контракт, Вы будете полностью проинформированы о всех сборах и затратах.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Мы работаем только с официальными инвестиционными программами, которые утверждены на правительственном уровне.</h6>
          </div>
          <div class="work-b-c">
            <p>В большинстве случаев, этот вид услуг подлежит лицензированию. Вот почему процесс прозрачен и максимально контролируемый государством.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Мы доступны 24/7.</h6>
          </div>
          <div class="work-b-c">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Перед началом сотрудничества, мы проводим предварительную проверку, чтобы оценить шансы получения статуса.</h6>
          </div>
          <div class="work-b-c">
            <p>Мы не взимаем плату за проверку, потому что также, как и Вы заинтересованы в положительном результате.</p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Вы получаете дорожную карту со всеми условиями до начала работы, чтобы в любой момент иметь возможность контролировать процесс.</h6>
          </div>
          <div class="work-b-c">
            <p></p>
          </div>
        </div>
      </div>
      <div class="col-md-12 col-xl-5">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Мы уважаем Вашу конфиденциальность.</h6>
          </div>
          <div class="work-b-c">
            <p></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>