<section class="youtube">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-7 col-12 text-center">
        <h2>Мы делимся своим опытом чтобы вам
            было проще принять решение</h2>
        <p>Все самые важные моменты в получение гражданства или ВНЖ, подводные
            камни, сравнение программ. Мы рассказываем обо всем открыто и экспертно.
            </p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-7 col-lg-12 yv">
        <iframe width="100%" src="https://www.youtube.com/embed/0A2kNqmX7Zw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
      <div class="col-xl-5 col-lg-12">
        <div class="v">
          <div class="v-item">
            <iframe width="100%" src="https://www.youtube.com/embed/pconHWXO3Ss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="v-item">
            <iframe width="100%" src="https://www.youtube.com/embed/pconHWXO3Ss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="v-item">
            <iframe width="100%" src="https://www.youtube.com/embed/pconHWXO3Ss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
          <div class="v-item">
            <iframe width="100%" src="https://www.youtube.com/embed/pconHWXO3Ss" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
          </div>
        </div>
        <h5>Смотреть еще 78 видео на нашем канале</h5>
        <a href="" class="btn-y">Наш Youtube канал</a>
      </div>
    </div>
  </div>
</section>