<section class="blog">
    <div class="cnt">
      <div class="row">
        <div class="col-lg-9">
          <article class="b-blog">
            <div class="b-blog-soc">
              <div class="b-blog-soc1">
                <span>Рубрика: <strong>Сент-Китс и Невис</strong></span>
              </div>
              <div class="b-blog-soc2">
                <span>Поделиться с друзьями:</span>
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-linkedin-in"></a>
                <a href="" class="fab fa-twitter"></a>
              </div>
            </div>
            <div class="b-blog-e">
              <div class="b-blog-e1">
                <span class="far fa-clock"></span>
                <span>Время чтения: <strong>15 минут</strong></span>
              </div>
              <div class="b-blog-e2">
                <span>Нет времени читать статью?</span>
                <a href="" class="btn201 btn201_blue">Отправить на email</a>
              </div>
            </div>
            <iframe src="https://www.youtube.com/embed/Nt4fp43U2ys" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            <p>Ведение бизнеса, зарегистрированного в странах Карибского бассейна, имеет множество преимуществ. Главные из них – простота регистрации и администрирования, а также минимум налогов на доходы, полученные за пределами страны. Среди бизнесменов наиболее популярны Сент-Китс и Невис, Антигуа и Барбуда, так как эти страны обладают серьезным авторитетом в мире. Сегодня мы расскажем о самом первом этапе бизнеса на Карибах – его регистрации.</p>
            <h2>Какую форму компании выбрать на Карибах?</h2>
            <p>По сути, для международных компаний здесь существует одна максимально удобная и продуманная форма – International Business Company (IBC). Это аналог хорошо знакомого всем общества с ограниченной ответственностью.</p>
            <ul>
              <li>У компании обязательно должен быть минимум 1 директор. Должность не обязательно должен занимать резидент страны, где компания зарегистрирована. Директором может выступать юрлицо</li>
              <li>Учредителем бизнеса может стать минимум один акционер (в том числе юрлицо). Акции обычно стоят 1 долл. США. Можно выпускать их без номинальной стоимости</li>
              <li>Он же может выступать должностным лицом, несущим ответственность за корпоративные отношения</li>
              <li>Давая компании наименование, учтите, что в нем должно присутствовать сокращение, которое указывает ограничение ответственности: Ltd или Inc</li>
              <li>Юридический адрес компании обязательно должен находиться в стране регистрации. Отдельные страны (например, Сент-Люсия) даже не требуют наличия «физического» офиса. Секретарь не нужен</li>
            </ul>
            <div class="b-blog-adv">
              <div class="b-blog-adv1">
                <img src="img/book2.png" alt="book">
                <h4>Скачайте презентацию по программе Сент-Китс</h4>
                <a href="" class="btn btn251">Отправить запрос</a>
              </div>
              <div class="b-blog-adv1">
                <img src="img/krist.png" alt="Krisitna">
                <h4>Получить бесплатную консультацию</h4>
                <a href="" class="btn btn251">Отправить запрос</a>
              </div>
            </div>
            <ul>
              <li>Стандартный размер уставного капитала – 50 тыс. долл. США. Нет ограничений по минимальному размеру выпущенного капитала</li>
              <li>При необходимости можно зарегистрировать торговую марку – это обойдется чуть больше чем в 1 тыс. долл. США</li>
              <li>Вести бизнес можно с компаниями, зарегистрированными в любой стране мира</li>
            </ul>
            <h2>Какую форму компании выбрать на Карибах?</h2>
            <p>По сути, для международных компаний здесь существует одна максимально удобная и продуманная форма – International Business Company (IBC). Это аналог хорошо знакомого всем общества с ограниченной ответственностью.</p>
            <img src="img/rest.jpg" alt="Rest">
            <ul>
              <li>У компании обязательно должен быть минимум 1 директор. Должность не обязательно должен занимать резидент страны, где компания зарегистрирована. Директором может выступать юрлицо</li>
              <li>Учредителем бизнеса может стать минимум один акционер (в том числе юрлицо). Акции обычно стоят 1 долл. США. Можно выпускать их без номинальной стоимости</li>
              <li>Он же может выступать должностным лицом, несущим ответственность за корпоративные отношения</li>
              <li>Давая компании наименование, учтите, что в нем должно присутствовать сокращение, которое указывает ограничение ответственности: Ltd или Inc</li>
              <li>Юридический адрес компании обязательно должен находиться в стране регистрации. Отдельные страны (например, Сент-Люсия) даже не требуют наличия «физического» офиса. Секретарь не нужен</li>
            </ul>
            <img src="img/chart.png" alt="Chart">
            <h2>Какую форму компании выбрать на Карибах?</h2>
            <p>По сути, для международных компаний здесь существует одна максимально удобная и продуманная форма – International Business Company (IBC). Это аналог хорошо знакомого всем общества с ограниченной ответственностью.</p>
            <div class="soc-rating">
              <div class="soc-rating-h">
                <div class="info-data">
                  <div class="author">Оцените материал:</div>
                  <div class="rating">
                    <span class="rating-result  mr-shortcode rating-result-474">
                      <span class="mr-star-rating">
                        <i class="fa fa-star mr-star-full"></i>
                        <i class="fa fa-star mr-star-full"></i>
                        <i class="fa fa-star mr-star-full"></i>
                        <i class="fa fa-star mr-star-full"></i>
                        <i class="fa fa-star mr-star-full"></i>
                      </span>
                    </span>
                  </div>
                </div>
                <div class="info-text">
                  <p>© «Мигронис», при полном или частичном
                    копировании материала ссылка на первоисточник обязательна.</p>
                </div>
              </div>
              <div class="b-blog-soc2">
                <span>Поделиться с друзьями:</span>
                <a href="" class="fab fa-facebook-f"></a>
                <a href="" class="fab fa-linkedin-in"></a>
                <a href="" class="fab fa-twitter"></a>
              </div>
            </div>
          </article>
        </div>
        <div class="col-lg-3">
          <aside class="blog-a">
            <h3>Рубрики</h3>
            <ul>
              <li><a href="">Антигуа и Барбуда</a></li>
              <li><a href="">Вануату</a></li>
              <li><a href="">Гражданство и ПМЖ за инвестиции</a></li>
              <li><a href="">Гренада</a></li>
              <li><a href="">Греция</a></li>
              <li><a href="">Доминика</a></li>
              <li><a href="">Европа</a></li>
              <li><a href="">Кипр</a></li>
              <li><a href="">Мальта</a></li>
              <li><a href="">Португалия</a></li>
              <li><a href="">Сент Люсия</a></li>
              <li><a href="">Сент-Китс и Невис</a></li>
              <li><a href="">США</a></li>
              <li><a href="">Часто задаваемые вопросы</a></li>
            </ul>
            <div class="blog-a__adv">
              <img src="img/aside.png" alt="Adv">
              <h3>Паспорт Гренады</h3>
              <p>Самое подробное руководство по получению гражданства за инвестиции</p>
              <a href="" class="btn btn200">Подробнее</a>
            </div>
          </aside>
        </div>
      </div>
      <div class="row">
        <div class="col-12 text-center">
          <h2>Похожие статьи</h2>
        </div>
        <div class="col-md-4">
          <div class="s-art">
            <img src="img/art1.png" alt="Article">
            <time>19 июня 2018</time>
            <h5>Гражданство Сент-Китс и Невис через взнос в фонд развития</h5>
            <div class="view-count">333</div>
            <a href="" class="btn btn251">Подробнее</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="s-art">
            <img src="img/art1.png" alt="Article">
            <time>19 июня 2018</time>
            <h5>Гражданство Сент-Китс и Невис через взнос в фонд развития</h5>
            <div class="view-count">333</div>
            <a href="" class="btn btn251">Подробнее</a>
          </div>
        </div>
        <div class="col-md-4">
          <div class="s-art">
            <img src="img/art1.png" alt="Article">
            <time>19 июня 2018</time>
            <h5>Гражданство Сент-Китс и Невис через взнос в фонд развития</h5>
            <div class="view-count">333</div>
            <a href="" class="btn btn251">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </section>