<section class="email">
  <div class="cnt">
    <div class="row">
      <div class="col-12">
        <h2>Не готовы приступить к оформлению?</h2>
        <p>Подпишитесь на полезную рассылку. Информация, которую мы отправляем <strong>точно поможет Вам сделать выбор.</strong> Мы отправляем экспертную
            информацию "без воды" и рекламы один раз в неделю. Статьи готовятся ведущими налоговыми экспертами и юристами.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-7">
        <div class="email-b">
          <h4>Введите почту</h4>
          <p>И получите эти статьи на e-mail уже сейчас. Вы в любой момент можете отписаться от рассылки в один клик, если вопрос станет не актуальным для Вас</p>
          <form action="">
            <input type="text" name="Email" placeholder="Введите ваш Email">
            <button class="btn183">Подписаться</button>
          </form>
          <h5>На нашу рассылку уже подписалось 12400+ человек!</h5>
        </div>
      </div>
      <div class="col-md-5">
        <div class="email-b2">
          <h4>TOP статьи</h4>
          <p>Вид на жительство в Европе, сроки, расходы условия</p>
          <p>Какие требуются вложения для получения гражданства или ВНЖ</p>
          <p>Какие документы необходимы для получения гражданства и ВНЖ</p>
        </div>
      </div>
    </div>
  </div>
</section>