<section class="header header-news2">
	<div class="cnt">
    <div class="row">
      <div class="col-12">
        <ul class="b-c">
          <li class="b-c__item"><a href="">Home</a></li>
          <li class="b-c__item"><a href="">Who We Are</a></li>
          <li class="b-c__item"><span>What we do</span></li>
        </ul>
      </div>
    </div>
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h1>Как зарегистрировать
            бизнес на Карибах</h1>
        <time>19 июня 2018</time>
			</div>
		</div>
	</div>
</section>