<div class="pre-footer">
  <div class="cnt">
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="pre-footer-b">
          <div class="pre-footer-h pre-footer-h d-none d-md-block">
            <h5>О НАС</h5>
            <p>Почему клиенты выбирают нас?</p>
          </div>
          <div class="pre-footer-c">
            <ul>
              <li><img src="img/gb.jpg" alt="UK"> <a href="tel:+448081892442">+ 44 808 189 2442</a></li>
              <li><img src="img/eu.png" alt="EU"> <a href="tel:+37052080929">+ 3 705 208 09 29</a></li>
              <li><img src="img/rus.png" alt="Russia"> <a href="tel:+74993502137">+ 7 499 350 21 37</a></li>
              <li><img src="img/kz.png" alt="Kazakhstan"> <a href="tel:+77273505965">+ 7 727 350 59 65</a></li>
              <li><img src="img/ukr.png" alt="Ukraine"> <a href="tel:+77273505965">+ 7 727 350 59 65</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-none d-md-block">
        <div class="pre-footer-b">
          <div class="pre-footer-h">
            <h5>ГРАЖДАНСТВО ЗА ИНВЕСТИЦИИ</h5>
          </div>
          <div class="pre-footer-c">
            <p>Гражданство в Карибских странах</p>
            <ul>
              <li><a href="">ДОМИНИКА</a></li>
              <li><a href="">Сент-китс и невис</a></li>
              <li><a href="">сент-люсия</a></li>
              <li><a href="">антигуа и барбуда</a></li>
              <li><a href="">гренада</a></li>
              <li><a href="">вануату</a></li>
              <li><a href="">гражданство за биткоины</a></li>
            </ul>
            <p>Гражданство в европейских странах</p>
            <ul>
              <li><a href="">КИПР</a></li>
              <li><a href="">МАЛЬТА</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 d-none d-md-block">
        <div class="pre-footer-b">
          <div class="pre-footer-h">
            <h5>ВИД НА<br> ЖИТЕЛЬСТВО</h5>
          </div>
          <div class="pre-footer-c">
            <ul>
              <li><a href="">мальта (пмж)</a></li>
              <li><a href="">венгрия (ПМЖ)</a></li>
              <li><a href="">португалия (золотая виза)</a></li>
              <li><a href="">греция</a></li>
              <li><a href="">греция (золотая виза)</a></li>
              <li><a href="">кипр (пмж)</a></li>
              <li><a href="">франция (Внж)</a></li>
              <li><a href="">монако (внж)</a></li>
              <li><a href="">инвестиционная виза ев-5 в сша</a></li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="pre-footer-b">
          <div class="pre-footer-h d-none d-md-block">
            <h5><a href="tel:+74993502137"><span class="fas fa-phone"></span>+ 7 499 350 21 37</a></h5>
          </div>
          <div class="pre-footer-c">
            <div class="socials">
              <a href=""><span class="fab fa-youtube"></span></a>
              <a href=""><span class="fab fa-twitter"></span></a>
              <a href=""><span class="fab fab fa-google-plus-g"></span></a>
              <a href=""><span class="fab fab fa-facebook-f"></span></a>
            </div>
            <img src="img/logo.png" alt="Migronis">
            <p>All rights reserved</p>
            <p>Данный сайт использует Cookies</p>
            <p>Используя данный сайт, вы даете нам согласие на обработку файлов cookies, в соответствии с текущими настройками браузера</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>