<section class="cond" id="cn">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <h2>Условия и требования для получения гражданства</h2>
      </div>
      <div class="col-lg-9">
        <p>В каждой программе есть свои «подводные камни», благодаря нашему опыту мы знаем все детали и т
            онкости поэтому процесс получения гражданства будет максимально быстрым и простым для вас</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="t-b">
          <ul class="cond-l">
            <li>
              <p>Быть старше 18 лет</p>
            </li>
            <li>
              <p>Отсутствие санкций, ограничений или запретов на
                  въезд в страны ЕС, США, Великобританию и Канаду</p>
            </li>
            <li>
              <p>Иметь безупречную репутацию</p>
            </li>
            <li>
              <p>Не иметь судимостей</p>
            </li>
            <li>
              <p>Пройти тщательную проверку на благонадежность</p>
            </li>
            <li>
              <p>Быть в состоянии предоставить источник происхождения средств</p>
            </li>
            <li>
              <p>Хорошее состояние здоровья</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-5">
        <div class="t-c">
          <h4>Паспорта Сент-Люсии могут также получить:</h4>
          <ul class="cond-l">
            <li>
              <p>Супруг/Супруга</p>
            </li>
            <li>
              <p>Дети до 25 лет</p>
            </li>
            <li>
              <p>Родители от 65 лет</p>
            </li>
            <li>
              <p>Дети старше 18 лет, а так же родители должны быть зависимы от основного инвестора.</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>