<section class="cost" id="ct">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h2>Расчитать стоимость</h2>
      </div>
      <div class="col-md-8">
        <p>Стоимость гражданства зависит от многих моментов. Заполните форму, мы просчитаем сумму
            индивидуально для вас и в течении нескольких минут  вы получите просчет</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-6 d-none d-lg-block">
        <div class="img-c">
          <img src="img/costimg.png" alt="Cost">
        </div>
      </div>
      <div class="col-md-6 col-lg-4 offset-lg-1">
        <form action="" class="frm">
          <p>Варианты инвестиций</p>
          <select name="select" required>
            <option value="inv">Инвестиция в недвижимость</option>
            <option value="inv2">Инвестиция в недвижимость2</option>
            <option value="inv3">Инвестиция в недвижимость3</option>
          </select>
          <div class="radio-b">
            <div class="radio-b1">
              <p>Супруга/супруг подается</p>
              <label>
                <input type="radio" name="family" value="no" checked required>Нет
              </label>
              <label>
                <input type="radio" name="family" value="yes" required>Да
              </label>
            </div>
            <div class="radio-b2">
              <p>Дети</p>
              <label>
                <input type="radio" name="childrens" value="no" checked required>Нет
              </label>
              <label>
                  <input type="radio" name="childrens" value="yes" required>Да
              </label>
            </div>
          </div>
          <p>Родители главного заявителя и супруги/га
              старше 55 лет</p>
          <select name="select2" required>
            <option value="par">Родители не подаются</option>
            <option value="par2">Родители подаются</option>
            <option value="par3">Родители не подаются??</option>
          </select>
          <input type="email" name="Email" placeholder="E-mail">
          <button>получить расчет</button>
        </form>
      </div>
    </div>
  </div>
</section>