<section class="exp exp-uslugi">
  <div class="cnt">
    <div class="row">
      <div class="col-xl-5 d-none d-xl-block">
        <div class="img-c">
          <img class="" src="img/expimg.png" alt="Book">
        </div>
      </div>
      <div class="col-xl-7">
        <div class="t-c">
          <h2>Получите пошаговую информацию о
              получении гражданства прямо сейчас</h2>
          <div class="row">
            <div class="col-md-9">
              <p>В презентации вы найдете полную информацию о:</p>
              <ul class="cond-l">
                <li>
                  <p>Расчет всех затрат</p>
                </li>
                <li>
                  <p>Пошаговая процедура</p>
                </li>
                <li>
                  <p>Требования программы</p>
                </li>
                <li>
                  <p>Перечень необходимых документов</p>
                </li>
                <li>
                  <p>Ответы на часто задаваемые вопросы</p>
                </li>
                <li>
                  <p>Информация о стране</p>
                </li>
              </ul>
            </div>
          </div>
          <a href="" class="btn">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
        </div>
      </div>
    </div>
  </div>
</section>