<section class="facts">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h2>Интересные факты о стране</h2>
      </div>
      <div class="col-md-8">
        <p>Для получения гражданства Сент-Китс и Невис не нужно знать язык или
          историю государства, а так же нет обязательств по проживанию на территории страны.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="facts-t">
          <div class="facts-t__i active">
            <div class="facts-t__h">
              <h4 class="active">Когда происходит полная оплата инвестиций?</h4>
            </div>
            <div class="facts-t__c active">
              <p>Чтобы подать на рассмотрение заявку на гражданство Сент-Китс и Невис через опцию покупки недвижимости, нужно заключить контракт на приобретение объекта, одобренного правительством, и перевести депозит (10 % от стоимости объекта). Полная оплата инвестиций происходит только после того, как государство дает согласие на выдачу вам гражданства. Важно: денежные средства поступают исключительно на правительственные счета.</p>
            </div>
          </div>
          <div class="facts-t__i">
            <div class="facts-t__h">
              <h4>Когда происходит полная оплата инвестиций?</h4>
            </div>
            <div class="facts-t__c">
              <p>Чтобы подать на рассмотрение заявку на гражданство Сент-Китс и Невис через опцию покупки недвижимости, нужно заключить контракт на приобретение объекта, одобренного правительством, и перевести депозит (10 % от стоимости объекта). Полная оплата инвестиций происходит только после того, как государство дает согласие на выдачу вам гражданства. Важно: денежные средства поступают исключительно на правительственные счета.</p>
            </div>
          </div>
          <div class="facts-t__i">
            <div class="facts-t__h">
              <h4>Когда происходит полная оплата инвестиций?</h4>
            </div>
            <div class="facts-t__c">
              <p>Чтобы подать на рассмотрение заявку на гражданство Сент-Китс и Невис через опцию покупки недвижимости, нужно заключить контракт на приобретение объекта, одобренного правительством, и перевести депозит (10 % от стоимости объекта). Полная оплата инвестиций происходит только после того, как государство дает согласие на выдачу вам гражданства. Важно: денежные средства поступают исключительно на правительственные счета.</p>
            </div>
          </div>
          <div class="facts-t__i">
            <div class="facts-t__h">
              <h4>Когда происходит полная оплата инвестиций?</h4>
            </div>
            <div class="facts-t__c">
              <p>Чтобы подать на рассмотрение заявку на гражданство Сент-Китс и Невис через опцию покупки недвижимости, нужно заключить контракт на приобретение объекта, одобренного правительством, и перевести депозит (10 % от стоимости объекта). Полная оплата инвестиций происходит только после того, как государство дает согласие на выдачу вам гражданства. Важно: денежные средства поступают исключительно на правительственные счета.</p>
            </div>
          </div>
          <div class="facts-t__i">
            <div class="facts-t__h">
              <h4>Когда происходит полная оплата инвестиций?</h4>
            </div>
            <div class="facts-t__c">
              <p>Чтобы подать на рассмотрение заявку на гражданство Сент-Китс и Невис через опцию покупки недвижимости, нужно заключить контракт на приобретение объекта, одобренного правительством, и перевести депозит (10 % от стоимости объекта). Полная оплата инвестиций происходит только после того, как государство дает согласие на выдачу вам гражданства. Важно: денежные средства поступают исключительно на правительственные счета.</p>
            </div>
          </div>
          <div class="facts-t__i">
            <div class="facts-t__h">
              <h4>Когда происходит полная оплата инвестиций?</h4>
            </div>
            <div class="facts-t__c">
              <p>Чтобы подать на рассмотрение заявку на гражданство Сент-Китс и Невис через опцию покупки недвижимости, нужно заключить контракт на приобретение объекта, одобренного правительством, и перевести депозит (10 % от стоимости объекта). Полная оплата инвестиций происходит только после того, как государство дает согласие на выдачу вам гражданства. Важно: денежные средства поступают исключительно на правительственные счета.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>