<section class="header header-uslugi">
	<div class="cnt">
		<div class="row justify-content-center">
			<div class="col-md-8 col-xl-6 col-lg-7 text-center">
				<h1>Гражданство Сент-Китс и Невис</h1>
			</div>
			<div class="col-lg-10 text-center">
        <div class="t-b">
          <p><span class="fas fa-check"></span>Государственная программа</p>
          <p><span class="fas fa-check"></span>Инвестиции от €160 000</p>
          <p><span class="fas fa-check"></span>Гражданство для всей семьи</p>
        </div>
			</div>
      <div class="col-12 text-center">
        <a href="#" class="btn">Посмотреть 18 программ</a>
      </div>
		</div>
  </div>
  <div class="header-uslugi-anch">
    <div class="cnt">
      <div class="header-uslugi-anch__row">
        <div class="header-uslugi-anch__item">
          <a href="#bs">Преимущества</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#cn">Условия и требования</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#is">Варианты инвестиций</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#ct">Расчитать стоимость</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#wk">Процедура получения</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#wus">индивидуальная консультацию</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#pop">Гарантии</a>
        </div>
      </div>
    </div>
  </div>
</section>