<section class="inv" id="is">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-lg-10">
        <h2>Варианты инвестиций для получения гражданства</h2>
        <p>В отличие от инвестиций в недвижимость благотворительный взнос имеет безвозвратный характер.
            Вы единоразово вносите на правительственный счет необходимую сумму и получаете паспорта для всей семьи.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-4">
        <div class="t-b">
          <div class="t-b__h">
            <h4>Пожертвования в Фонд диверсификации сахарной промышленности</h4>
            <p>Минимальный невозвратный взнос:
              <strong>150,000 долларов США</strong></p>
            <p>Сумма взноса зависит от количества дополнительных заявителей.</p>
            <p>Безвозвратный взнос в Национальный экономический фонд Сент-Люсии (NEF), который предназначен для стимулирования экономики.</p>
          </div>
          <div class="t-b__f">
            <p>Примеры просчетов:<br>
                Для 1го человека - 150, 000 $<br>
                Для семьи из 4х людей - 450, 000 $
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="t-b">
          <div class="t-b__h">
            <h4>Пожертвования в Фонд диверсификации сахарной промышленности</h4>
            <p>Минимальный невозвратный взнос:
              <strong>150,000 долларов США</strong></p>
            <p>Сумма взноса зависит от количества дополнительных заявителей.</p>
            <p>Безвозвратный взнос в Национальный экономический фонд Сент-Люсии (NEF), который предназначен для стимулирования экономики.</p>
          </div>
          <div class="t-b__f">
            <p>Примеры просчетов:<br>
              Для 1го человека - 150, 000 $<br>
              Для семьи из 4х людей - 450, 000 $
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>