<section class="popular popular-uslugi" id="pop">
  <div class="cnt">
    <div class="row no-gutters justify-content-center">
      <div class="col-12 col-md-10 text-center">
        <h2>Почему все больше бизнесменов выбирают нас</h2>
        <p>Для получения гражданства Сент-Китс и Невис не нужно знать язык или
            историю государства, а так же нет обязательств по проживанию на территории страны.</p>
      </div>
    </div>
    <div class="row owl-carousel mob-c-1">
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Вы платите за положительный результат</h6>
          </div>
          <div class="popular-b-c">
            <p>Вы получаете <strong>паспорт</strong> и только после этого оплачиваете наши услуги.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Подготовка дополнительных документов</h6>
          </div>
          <div class="popular-b-c">
            <p>Кроме паспорта мы также помогаем получить - <strong>водительские права, адрес регистрации.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Мы всегда на связи</h6>
          </div>
          <div class="popular-b-c">
            <p>У вас всегда есть связь с нами, так как мы всегда на связи <strong>24/7</strong></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Минимум вашего участия, вся бумажная работа - за нами</h6>
          </div>
          <div class="popular-b-c">
            <p>Мы берем всю бумажную работу на себя. Вам не нужно будет ехать в страну получения паспорта. С самого первого заонка и до получения паспорта у вас это займет не более 3х часов.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Без посредников</h6>
          </div>
          <div class="popular-b-c">
            <p>Мы сертифицированы во всех странах где можно купить гражданство. Поэтому сами подадим все необходимые документы и будем разбиратся с бумажной волокитой. В сложных кейсах мы сами решаем все с правительством.<br>
            <a href="#">Наша лицензия</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Только реальные факты нашей работы</h6>
          </div>
          <div class="popular-b-c">
            <p>На 25 мая 2018 года у нас:</p>
              <ul>
                <li>
                  <p>успешных кейсов - 100</p>
                </li>
                <li>
                  <p>отказов - 15, <a href="">читать о возможных причинах отказов</a></p>
                </li>
              </ul>
            <p>Мы уже помогли получить второе гражданство людям из таких стран: Казахстан, Россия, Украина, Великобритания</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Оценка шансов на получение гражданства</h6>
          </div>
          <div class="popular-b-c">
            <p>Мы бесплатно проводим предварительную <strong>проверку</strong>, поэтому можем спрогнозировать результат.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Работаем быстро</h6>
          </div>
          <div class="popular-b-c">
            <p>Среднее время на подготовку документов - <strong>2 недели</strong>, общий срок от подписания договора до получения паспорта - 4 месяца.
            <br><a href="">Почитать детальней</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Самая полная база недвижимости</h6>
          </div>
          <div class="popular-b-c">
            <p>Мы подготовили для вас подробный <strong>обзор</strong> по каждому из объектов с описанием всех плюсов и минусов<br>
            <a href="">Смотреть каталог</a></p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Если вы работаете с нами то получите 100% результат</h6>
          </div>
          <div class="popular-b-c">
            <p>Мы беремся только за те случаи где действительно можем помочь. <strong>Не кормим обещаниями</strong>, а рассказываем сразу возможный вариант исхода.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Свой офис на острове</h6>
          </div>
          <div class="popular-b-c">
            <p>Рассказать почему это важно</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>