<section class="numb">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-md-9">
        <h2>Для получения быстрого ответа свяжитесь с нами</h2>
        <p>Наши офисы находятся в разных часовых поясах, поэтому мы действительно <strong>доступны 24/7</strong></p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-3">
        <div class="pre-footer-c">
          <ul>
            <li><img src="img/gb.jpg" alt="UK"> <a href="tel:+448081892442">+ 44 808 189 2442</a></li>
            <li><img src="img/eu.png" alt="EU"> <a href="tel:+37052080929">+ 3 705 208 09 29</a></li>
            <li><img src="img/rus.png" alt="Russia"> <a href="tel:+74993502137">+ 7 499 350 21 37</a></li>
            <li><img src="img/kz.png" alt="Kazakhstan"> <a href="tel:+77273505965">+ 7 727 350 59 65</a></li>
            <li><img src="img/ukr.png" alt="Ukraine"> <a href="tel:+77273505965">+ 7 727 350 59 65</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pre-footer-c">
          <ul>
            <li>
              <a href=""><span class="fab fa-viber"></span></a>
              <a href=""><span class="fab fa-telegram"></span></a>
              <a href=""><span class="fab fa-facebook-messenger"></span></a>
              <a href=""><span class="fab fa-whatsapp"></span></a>
            </li>
            <li>
              <a href="">+ 7 499 350 21 37</a>
            </li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="pre-footer-c">
          <ul>
            <li><span class="fab fa-skype"></span><a href="">migronis_skype</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>