<section class="with-us with-us2">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-9 col-12 text-center">
        <h2>Нету времени разбираться и все читать?
          Запишитесь на индивидуальную консультацию</h2>
        <p>Наш специалист по иммиграции Кристина Ружило расскажет  о всех нюансах, а также открыто
          о минусах и преимуществах программы конкретно в вашем случаи</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-7 d-none d-lg-block">
        <div class="with-us-b">
          <img src="img/krist.png" alt="Kristina">
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="with-us-b zi">
          <h3>Заполните форму</h3>
          <p>И Кристина лично свяжется с вами,<br> что бы обсудить все детали</p>
          <form action="">
            <input type="text" name="name" required placeholder="Имя">
            <input type="email" name="email" required placeholder="Email">
            <input type="phone" name="phone" required placeholder="Телефон">
            <button>Отправить</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>