<section class="world">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Офисы по всему миру</h2>
        <p>Компания Migronis уже более 8 лет на рынке. Наш опыт
            позволяет нам прогнозировать конечный результат. Мы экономим ваше время.</p>
      </div>
      <div class="col-md-12">
        <ul class="world__nav">
          <li>
            <a href="">Европа</a>
            <ul class="world__nav-h">
              <li>
                <a href="" data-info="Ukraine">Украина</a>
              </li>
              <li>
                <a href="" data-info="Australia">Австралия</a>
              </li>
              <li>
                <a href="" data-info="NewZelland">Новая Зеландия</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Средний Восток</a>
            <ul class="world__nav-h">
              <li>
                <a href="" data-info="Ukraine">Украина</a>
              </li>
              <li>
                <a href="" data-info="Australia">Австралия</a>
              </li>
              <li>
                <a href="" data-info="NewZelland">Новая Зеландия</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Западная Америка</a>
            <ul class="world__nav-h">
              <li>
                <a href="" data-info="Ukraine">Украина</a>
              </li>
              <li>
                <a href="" data-info="Australia">Австралия</a>
              </li>
              <li>
                <a href="" data-info="NewZelland">Новая Зеландия</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Карибы</a>
            <ul class="world__nav-h">
              <li>
                <a href="" data-info="Ukraine">Украина</a>
              </li>
              <li>
                <a href="" data-info="Australia">Австралия</a>
              </li>
              <li>
                <a href="" data-info="NewZelland">Новая Зеландия</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">СНГ</a>
            <ul class="world__nav-h">
              <li>
                  <a href="" data-info="Ukraine">Украина</a>
              </li>
              <li>
                <a href="" data-info="Australia">Австралия</a>
              </li>
              <li>
                <a href="" data-info="NewZelland">Новая Зеландия</a>
              </li>
            </ul>
          </li>
          <li>
            <a href="">Океания</a>
            <ul class="world__nav-h">
              <li>
                <a href="" data-info="Ukraine">Украина</a>
              </li>
              <li>
                <a href="" data-info="Australia">Австралия</a>
              </li>
              <li>
                <a href="" data-info="NewZelland">Новая Зеландия</a>
              </li>
            </ul>
          </li>
        </ul>
        <div class="map">
          <div class="markers">
            <div class="markers__item" data-info="Ukraine">
              <div class="markers__loc">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill:#030104;" d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z
                         M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="markers__hidden">
                <img src="img/krist.png" alt="Krisitna">
                <div class="t-b">
                  <h5>Ukraine, KYIV</h5>
                  <p>Yevhena Sverstyuka st. 11B, office 500</p>
                </div>
                <div class="t-b">
                  <h5>Кристина</h5>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </div>
            <div class="markers__item" data-info="Australia">
              <div class="markers__loc">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill:#030104;" d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z
                         M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="markers__hidden">
                <img src="img/krist.png" alt="Krisitna">
                <div class="t-b">
                  <h5>Ukraine, KYIV</h5>
                  <p>Yevhena Sverstyuka st. 11B, office 500</p>
                </div>
                <div class="t-b">
                  <h5>Кристина</h5>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </div>
            <div class="markers__item" data-info="NewZelland">
              <div class="markers__loc">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill:#030104;" d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z
                         M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="markers__hidden">
                <img src="img/krist.png" alt="Krisitna">
                <div class="t-b">
                  <h5>Ukraine, KYIV</h5>
                  <p>Yevhena Sverstyuka st. 11B, office 500</p>
                </div>
                <div class="t-b">
                  <h5>Кристина</h5>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </div>
            <div class="markers__item" data-info="Russia">
              <div class="markers__loc">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill:#030104;" d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z
                         M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="markers__hidden">
                <img src="img/krist.png" alt="Krisitna">
                <div class="t-b">
                  <h5>Ukraine, KYIV</h5>
                  <p>Yevhena Sverstyuka st. 11B, office 500</p>
                </div>
                <div class="t-b">
                  <h5>Кристина</h5>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </div>
            <div class="markers__item" data-info="Berg">
              <div class="markers__loc">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill:#030104;" d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z
                         M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="markers__hidden">
                <img src="img/krist.png" alt="Krisitna">
                <div class="t-b">
                  <h5>Ukraine, KYIV</h5>
                  <p>Yevhena Sverstyuka st. 11B, office 500</p>
                </div>
                <div class="t-b">
                  <h5>Кристина</h5>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </div>
            <div class="markers__item" data-info="Norg">
              <div class="markers__loc">
                <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                  viewBox="0 0 80 80" style="enable-background:new 0 0 80 80;" xml:space="preserve">
                  <g>
                    <g>
                      <path style="fill:#030104;" d="M40,0C26.191,0,15,11.194,15,25c0,23.87,25,55,25,55s25-31.13,25-55C65,11.194,53.807,0,40,0z
                         M40,38.8c-7.457,0-13.5-6.044-13.5-13.5S32.543,11.8,40,11.8c7.455,0,13.5,6.044,13.5,13.5S47.455,38.8,40,38.8z"/>
                    </g>
                  </g>
                </svg>
              </div>
              <div class="markers__hidden">
                <img src="img/krist.png" alt="Krisitna">
                <div class="t-b">
                  <h5>Ukraine, KYIV</h5>
                  <p>Yevhena Sverstyuka st. 11B, office 500</p>
                </div>
                <div class="t-b">
                  <h5>Кристина</h5>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </div>
          </div>
          <img src="img/map2.png" alt="World">
        </div>
        <div class="mob-tabs2 ">
          <ul>
            <li>
              <div class="mob-tabs2-a active">
                <a href="">Европа</a>
              </div>
              <div class="mob-tabs2-c active">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="img/krist.png" alt="Kristina">
                <div class="t-b">
                  <h4>Кристина</h4>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs2-a">
                <a href="">Средний восток</a>
              </div>
              <div class="mob-tabs2-c">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="img/krist.png" alt="Kristina">
                <div class="t-b">
                  <h4>Кристина</h4>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs2-a">
                <a href="">Западная Америка</a>
              </div>
              <div class="mob-tabs2-c">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="img/krist.png" alt="Kristina">
                <div class="t-b">
                  <h4>Кристина</h4>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs2-a">
                <a href="">Карибы</a>
              </div>
              <div class="mob-tabs2-c">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="img/krist.png" alt="Kristina">
                <div class="t-b">
                  <h4>Кристина</h4>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs2-a">
                <a href="">СНГ</a>
              </div>
              <div class="mob-tabs2-c">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="img/krist.png" alt="Kristina">
                <div class="t-b">
                  <h4>Кристина</h4>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs2-a">
                <a href="">Океания</a>
              </div>
              <div class="mob-tabs2-c">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="img/krist.png" alt="Kristina">
                <div class="t-b">
                  <h4>Кристина</h4>
                  <p>управляющий партнер</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>