@media screen and (max-width: 1279px)
	.owl-carousel .owl-nav.disabled
		display: none
@media screen and (max-width: 1200px)
	.work
		padding-bottom: 20px
		&-b
			margin-bottom: 60px
			&-h
				min-width: 90px

	.cases-b
		margin-bottom: 35px
		&-c
			min-height: auto
			padding-bottom: 30px
			a
				position: relative
				left: auto
				bottom: auto

	.info
		&-b
			flex-flow: column nowrap
			&__t, &__r
				margin-right: 0

	.divider
		&-b
			display: none

	.tb
		margin: 0 auto
		// tr
		// 	th, td
		// 		&:last-child
		// 			display: none

	.comp-r
		.row
			overflow-x: auto
			overflow-y: hidden

@media screen and (max-width: 1139px)
	.header
		&-uslugi
			.t-b
				justify-content: space-around
				p
					&:not(:last-child)
						margin-bottom: 10px

@media screen and (max-width: 1100px)
	.head
		&-nav, &-bot, .phone
			display: none
		&-top
			justify-content: space-between
			&:after
				display: none
		.logo
			margin: 0
		.m-phone
			display: flex
		.m-burg
			display: block

@media screen and (max-width: 1024px)
	h1
		font-size: 40px
	h2
		font-size: 28px

@media screen and (max-width: 991px)
	.header
		&-uslugi-anch
			display: none

	.freedom-b
		margin-bottom: 30px
		&-c
			min-height: auto

	.cast
		.work-b
			margin-bottom: 30px
			&-h
				min-height: 120px

	.youtube
		.row
			&:first-child
				margin-bottom: 35px

	.pre-footer
		.col-lg-3
			.pre-footer-b
					margin-bottom: 15px
			&:last-child
				.pre-footer-c, .pre-footer-b
					align-items: flex-start
					text-align: left
				.pre-footer-h, .pre-footer-b
					text-align: left
				.socials
					margin: 0 auto 55px 0

	.cond
		.t-c
			padding: 20px 40px 40px 20px

	.inv
		.t-b
			&__h, &__f
				padding: 30px 25px
				h4
					font-size: 16px
					line-height: 20px

	.cost
		.frm
			select, input
				max-width: none

	.blog
		.row
			.col-lg-3
				order: -1
		&-a
			&__adv
				display: none

	.steps, .key
		padding: 60px 0

	.stage8
		padding: 50px 0

	.story
		.row
			&:nth-child(1)
				margin-bottom: 25px
			&:nth-child(2)
				.col-lg-5
					.story-t
						padding-top: 0
		&-t
			h3
				max-width: none
			h4
				margin-bottom: 20px
			p, ul
				margin-bottom: 15px

	.b-blog
		.main-content-article
			blockquote
				&::before
					top: 0
					left: 0
				&::after
					right: 0
					bottom: 0

	.comp
		&-r
			padding: 50px 0

@media screen and (max-width: 767px)
	h2
		font-size: 20px
		font-weight: 300
		line-height: 24px

	.header
		h1
			color: #ffffff
			font: 700 22px/30px Ubuntu
			text-transform: uppercase
			letter-spacing: 4px
			margin-bottom: 30px
		p
			color: #ffffff
			font: 300 14px/20px Ubuntu

	.work
		padding: 30px 0 35px
		.row
			&:first-child
				margin-bottom: 70px
			&:last-child
				.work-b
					margin: 0
				.col-md-6
						&:not(:last-child)
							.work-b
								margin-bottom: 90px
		p
			color: #1f1f1f
			font: 700 14px/18px Ubuntu
		&-b
			&-c
				p
					font-weight: 300
		&-aus
			.row
				&:last-child
					.col-md-12
						&:not(:last-child)
							.work-b
								margin-bottom: 90px

	.popular
		padding: 40px 0 25px
		h2
			line-height: 24px
		.row
			&:nth-child(2)
				.col-xl-4
					min-height: auto
					&:first-child
						.popular-b-h
							padding: 0
		.mob-c-1
			margin: 0 auto

	.exp
		padding: 35px 0 60px
		h2
			line-height: 24px
			margin-bottom: 30px
		p
			line-height: 18px
			margin-bottom: 50px
		&-uslugi
			padding: 35px 0
			p
				margin-bottom: 30px
			.cond-l
				padding: 0

	.cases
		padding: 25px 0
		.row
			&:first-child
				margin-bottom: 30px
			&:nth-child(2)
				margin-bottom: 25px
		h2
			margin-bottom: 10px
		p
			font-size: 14px
			font-weight: 300
			line-height: 18px
		&-b
			margin-bottom: 15px
			&-h
				img
					height: 200px
				.t-b
					left: 20px
					bottom: 20px
					p
						font: 700 18px/24px Ubuntu
						max-width: 275px
			&-c
				padding: 30px 0px 30px 100px
				p
					font-size: 13px
					letter-spacing: 0
					&:before
						font-size: 14px
						left: -85px
		.mob-c-3
			margin: 0 auto
		&2
			.cases-b
				&-c
					padding-left: 0
					a
						display: block
						margin: 0 auto

	.freedom
		padding: 20px 0 0
		h2
			margin-bottom: 10px
		.row
			&:not(:nth-child(-n+3))
				display: none
			&:first-child
				margin-bottom: 30px
			&:nth-child(2)
				margin-bottom: 0
		&-b
			&-h
				.t-b
					left: 20px
					div
						font-size: 14px
						span
							font-weight: 300
						strong
							span
								font-weight: 500
			&-c
				padding: 30px 0 30px 19px
				h5
					font-size: 16px
					display: block
					&:after
						right: 20px
				ul
					font-size: 12px

	.with-us
		padding: 30px 0 40px
		.row
			&:first-child
				margin-bottom: 30px
		&-b
			h3
				font-size: 18px
				line-height: 24px
				margin-bottom: 5px
			p
				&:last-of-type
					margin-bottom: 20px

	.cast
		padding: 40px 0 20px
		.row
			&:first-child
				margin-bottom: 20px
		h4
			font-size: 16px
			line-height: 24px
		.work-b
			margin-bottom: 15px

	.youtube
		padding: 20px 0 30px
		.row
			&:nth-child(2)
				text-align: center
		.v
			display: none
		.yv
			margin-bottom: 30px
			iframe
				height: 190px
		h5
			font-size: 13px
			margin-bottom: 20px

	.media
		padding: 25px 0 30px
		p
			margin-bottom: 20px
		nav, .tab-content
			display: none
		.mob-tabs
			display: block
			a
				font: 700 13px Ubuntu
		.owl-flex
			img
				height: 100%
				width: 70%

	.risks
		padding: 30px 0 50px
		.row
			&:nth-child(2)
				margin: 0
		.col-6
			&:not(:last-child)
				margin-bottom: 30px
		&-b
			p
				&:first-child
					font-size: 36px
					line-height: 24px
					margin-bottom: 15px
			p
				font-size: 14px
				line-height: 18px
		.btn
			max-width: 268px
			font-size: 12px
			letter-spacing: 2.4px

	.faces
		padding: 30px 0
		.row
			&:first-child
				margin-bottom: 40px
			&:nth-child(2)
				margin-bottom: 0
		p
			font-size: 13px
			line-height: 18px

	.with-us
		&2
			padding: 45px 0 40px
			.row
				&:first-child
					margin-bottom: 35px
			h3
				font: 500 24px/36px Ubuntu
			p
				font-size: 14px
				line-height: 18px
			input
				&:not(:last-of-type)
					margin-bottom: 10px

	.world
		padding: 35px 0 30px
		p
			font-size: 14px
			line-height: 18px
		.world__nav, .map
			display: none
		.mob-tabs2
			display: block
			&-a
				a
					font: 700 13px/20px Ubuntu
					text-transform: uppercase
					letter-spacing: 1.3px
					color: #000
					&.active
						color: #2d5acc
			&-c
				h5
					font-size: 18px
					font-weight: 700
					margin-bottom: 12px
				p
					margin: 0
					font-size: 14px
					font-weight: 400
					&:first-of-type
						max-width: 148px
				.t-b
					position: absolute
					left: 20px
					bottom: 10px
					h4
						text-align: right
						font-size: 16px
						font-weight: 500
					p
						max-width: none
						font-size: 12px
						font-weight: 300

	.email
		padding: 20px 0 0
		h2
			margin-bottom: 10px
		p
			line-height: 24px
			font-size: 14px
		.row
			&:nth-child(1)
				margin-bottom: 20px
		&-b
			padding: 0
			p
				margin-bottom: 15px
			input
				display: block
				margin: 0 auto 10px
			.btn183
				margin: 0 auto
				display: block
				max-width: 430px
				width: 100%
			h5
				color: #3468e9
				font: 700 15px/24px Ubuntu
				margin-bottom: 35px

	.pre-footer
		padding: 15px 0 30px
		.row
			.col-md-6
				&:first-child
					margin-bottom: 25px
				&:nth-child(4)
					img
						margin-bottom: 15px
					p
						line-height: 15px
						&:first-of-type
							margin-bottom: 20px
						&:nth-of-type(2)
							margin-bottom: 15px

	.benefits
		padding: 35px 0
		.row
			&:first-child
				margin-bottom: 40px
		&-l
			p
				font: 300 16px/24px Ubuntu
		figcaption
			display: flex
			flex-flow: column nowrap
			align-items: center
			span
				&:first-child
					margin: 0 0 15px 0

	.cond
		padding: 40px 0
		.row
			&:first-child
				margin-bottom: 35px
		&-l
			li
				&:not(:last-child)
					margin-bottom: 10px
		.t-b
			margin-bottom: 25px

	.inv
		padding: 35px 0
		.t-b
			margin-bottom: 15px

	.cost
		padding: 35px 0
		.row
			&:first-child
				margin-bottom: 40px

	.real
		padding: 40px 0

	.facts
		padding: 40px 0
		&-t
			&__i
				padding: 0
				&.active
					padding-bottom: 25px
				h4
					font-size: 16px
					padding-right: 40px
					&:after
						height: 15px
						width: 2px
						right: 7px
					&:before
						width: 15px
						height: 2px
						right: 0

	.btn
		&-wrapper
			a
				&:first-child
					margin-bottom: 15px

	.blog
		&-c
			flex-flow: column nowrap
			&__img
				margin: 0 0 15px 0
				flex: 0 1 auto
		&-a
			ul
				li
					a
						line-height: 30px

	.b-blog
		iframe
			height: 200px
		&-adv1
			flex-flow: column
			img
				display: none
			h4
				text-align: center
				font-size: 22px
		&-e
			margin-bottom: 25px
		.main-content-article
			padding-top: 25px
			.dataTables_wrapper
				margin-bottom: 25px
			.head-div
				margin-bottom: 20px
			blockquote
				padding: 4% 15% 10% 20px
				&::before, &::after
					display: none
				cite
					right: 10px

	.soc-rating
		&-h
			flex-flow: column nowrap
			margin-bottom: 20px
			.info-text
				p
					text-indent: 0
					text-align: left
			.info-data
				margin-bottom: 20px

	.s-art
		margin-bottom: 20px

	.info
		padding: 40px 0
		&-b
			padding: 15px 0
			&__b
				flex-flow: column nowrap
				a
					margin: 0
					&:first-of-type
						margin-bottom: 10px

	.divider, .conc
		padding: 35px 0

	.conc
		&-b
			&__i
				&:not(:last-child)
					margin-bottom: 25px

	.stage
		&-alert, &-costs
			padding: 40px 15px 35px 35px

	.reviews
		padding: 35px 0
		&-b
			&__i
				flex-flow: column nowrap
				&:not(:last-child)
					margin-bottom: 35px
			&__h
				flex-flow: row wrap
			&__img
				width: 162px
				align-self: center
				margin-bottom: 15px
			&__loc
				margin: 0 auto
			h4
				margin-bottom: 10px
			p
				&:first-of-type
					margin-bottom: 20px

	.story
		padding: 40px 0

	.tb
		tbody
			td
				&:first-child
					font-size: 11px
					line-height: 17px
					padding: 18px 0

	.tb
		margin: 0 auto
		tr
			th, td
				&:nth-last-child(2), &:nth-last-child(3)
					display: none

	.comp
		&-h
			&-rub
				padding-bottom: 10px
				margin-bottom: 10px
				&__i
					a
						padding: 0
					.childs-list
						display: block
						height: 0
						padding: 0
						overflow: hidden
						transition: all .3s
						top: calc(100% + 10px)
						& > *
							display: none
						&.active
							height: auto
							padding: 15px 20px
							& > *
								display: block

@media screen and (max-width: 480px)
	.popular
		.col-md-6
			padding: 0

	.cases
		.col-xl-6
			padding: 0
		&3
			.row
				&:nth-child(3)
					margin-bottom: 30px

	.btn
		font-size: 11px

	.popup
		.free-c
			height: 100vh
			padding: 0 30px
			justify-content: center

	.stage
		.mob-c-1
			margin: 0 auto

@media screen and (max-width: 400px)
	.cases
		&-b
			a
				left: -65px

@media screen and (min-width: 320px) and (max-width: 850px) and (orientation: landscape)
	.youtube
		.yv
			iframe
				height: 90vh
