<section class="blog">
  <div class="cnt">
    <div class="row">
      <div class="col-lg-8">
        <article class="blog-c">
          <div class="blog-c__img">
            <img src="img/blogi.jpg" alt="Picture">
          </div>
          <div class="blog-c__t">
            <time>19 июня 2018</time>
            <h5>Как получить гражданство Кипра гражданину России в 2018: Квота, сумма инвестиции, сроки</h5>
            <p>Недавно Правительство Кипра приняло решение ограничить количество паспортов, выдаваемых в рамках программы гражданства за инвестиции.</p>
          </div>
        </article>
        <article class="blog-c">
          <div class="blog-c__img">
            <img src="img/blogi.jpg" alt="Picture">
          </div>
          <div class="blog-c__t">
            <time>19 июня 2018</time>
            <h5>Как получить гражданство Кипра гражданину России в 2018: Квота, сумма инвестиции, сроки</h5>
            <p>Недавно Правительство Кипра приняло решение ограничить количество паспортов, выдаваемых в рамках программы гражданства за инвестиции.</p>
          </div>
        </article>
        <article class="blog-c">
          <div class="blog-c__img">
            <img src="img/blogi.jpg" alt="Picture">
          </div>
          <div class="blog-c__t">
            <time>19 июня 2018</time>
            <h5>Как получить гражданство Кипра гражданину России в 2018: Квота, сумма инвестиции, сроки</h5>
            <p>Недавно Правительство Кипра приняло решение ограничить количество паспортов, выдаваемых в рамках программы гражданства за инвестиции.</p>
          </div>
        </article>
        <article class="blog-c">
          <div class="blog-c__img">
            <img src="img/blogi.jpg" alt="Picture">
          </div>
          <div class="blog-c__t">
            <time>19 июня 2018</time>
            <h5>Как получить гражданство Кипра гражданину России в 2018: Квота, сумма инвестиции, сроки</h5>
            <p>Недавно Правительство Кипра приняло решение ограничить количество паспортов, выдаваемых в рамках программы гражданства за инвестиции.</p>
          </div>
        </article>
        <article class="blog-c">
          <div class="blog-c__img">
            <img src="img/blogi.jpg" alt="Picture">
          </div>
          <div class="blog-c__t">
            <time>19 июня 2018</time>
            <h5>Как получить гражданство Кипра гражданину России в 2018: Квота, сумма инвестиции, сроки</h5>
            <p>Недавно Правительство Кипра приняло решение ограничить количество паспортов, выдаваемых в рамках программы гражданства за инвестиции.</p>
          </div>
        </article>
      </div>
      <div class="col-lg-3 offset-lg-1">
        <aside class="blog-a">
          <h3>Рубрики</h3>
          <ul>
            <li><a href="">Антигуа и Барбуда</a></li>
            <li><a href="">Вануату</a></li>
            <li><a href="">Гражданство и ПМЖ за инвестиции</a></li>
            <li><a href="">Гренада</a></li>
            <li><a href="">Греция</a></li>
            <li><a href="">Доминика</a></li>
            <li><a href="">Европа</a></li>
            <li><a href="">Кипр</a></li>
            <li><a href="">Мальта</a></li>
            <li><a href="">Португалия</a></li>
            <li><a href="">Сент Люсия</a></li>
            <li><a href="">Сент-Китс и Невис</a></li>
            <li><a href="">США</a></li>
            <li><a href="">Часто задаваемые вопросы</a></li>
          </ul>
          <div class="blog-a__adv">
            <img src="img/aside.png" alt="Adv">
            <h3>Паспорт Гренады</h3>
            <p>Самое подробное руководство по получению гражданства за инвестиции</p>
            <a href="" class="btn btn200">Подробнее</a>
          </div>
        </aside>
      </div>
    </div>
  </div>
</section>