<section class="header header-news">
	<div class="cnt">
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h1>Полезные новости</h1>
			</div>
			<div class="col-lg-7 text-center">
				<p><strong>Рассказываем об граждансве, ВНЖ,
          условиях и подводных камнях получения</strong></p>
      </div>
      <div class="col-lg-8">
        <div class="btn-wrapper">
          <a href="#fd" class="btn btn360 view-programms">Подписаться на обновления</a>
          <a href="#fd" class="btn btn360_emp view-programms">Подписаться youtube канал</a>
        </div>
      </div>
		</div>
	</div>
</section>