<section class="cases">
  <div class="cnt">
    <div class="row text-center justify-content-center">
      <div class="col-12">
        <h2>Наши кейсы</h2>
      </div>
      <div class="col-md-6 col-12">
        <p>За годы работы мы решали разные случаи, у нас большая
          экспертиза как в стандратных запросах, так и индивидуальных.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="mob-c-3 owl-carousel">
        <div class="col-xl-6 col-lg-12">
            <div class="cases-b">
              <div class="cases-b-h">
                <img src="img/cases1.png" alt="Cases Image">
                <div class="t-b">
                  <h6>КЕЙС</h6>
                  <p>Возможность защитить криптовалютные активы</p>
                </div>
              </div>
              <div class="cases-b-c">
                <p data-title="Цель:">Смена налогового резидентства</p>
                <p data-title="Проблема:">Вопрос доходов от криптовалют в России практически не урегулирован</p>
                <p data-title="Решение:">Оформление паспорта Антигуа и Барбуды для смены налогового резидентства и возможности 	свободно распоряжаться своим криптовалютным активом</p>
                <a href="" class="btn201">ЧИТАТЬ ПОДРОБНЕЕ</a>
              </div>
            </div>
        </div>
        <div class="col-xl-6 col-lg-12">
            <div class="cases-b">
              <div class="cases-b-h">
                <img src="img/cases2.png" alt="Cases Image">
                <div class="t-b">
                  <h6>КЕЙС</h6>
                  <p>Путь к безвизовому Шенгену и Великобритании</p>
                </div>
              </div>
              <div class="cases-b-c">
                <p data-title="Цель:">Возможность передвигаться по ЕС и Великобритании без необходимости оформления виз, а также получить долгосрочную визу в США</p>
                <p data-title="Проблема:">Путешествия без виз, виза в США на длительный срок</p>
                <p data-title="Решение:">Оформление карибского гражданства для возможности свободно передвигаться по Шенгену и Великобритании, а также оформить визу в США сроком на 10 лет</p>
                <a href="" class="btn201">ЧИТАТЬ ПОДРОБНЕЕ</a>
              </div>
            </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <a href="" class="btn btn225">Все кейсы</a>
    </div>
  </div>
</section>