<section class="exp">
  <div class="cnt">
    <div class="row">
      <div class="col-xl-5 d-none d-xl-block">
        <div class="img-c">
          <img class="" src="img/expimg.png" alt="Book">
        </div>
      </div>
      <div class="col-xl-7">
        <div class="t-c">
          <h2>У нас большой опыт и мы знаем все
              подводные камни и как их обойти</h2>
          <div class="row">
            <div class="col-md-9">
              <p>Мы понимаем как важно выбрать наиболее подходящую программу, поэтому для вас мы разработали сравнительную таблицу всех программ. С детальным описанием всех преимуществ и недостатков</p>
            </div>
          </div>
          <a href="" class="btn">СКАЧАТЬ ПРЕЗЕНТАЦИЮ</a>
        </div>
      </div>
    </div>
  </div>
</section>