<section class="freedom" id="fd">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-8 col-12 text-center">
        <h2>Свобода в перемещении по миру, большие
            возможности для вашего бизнеса</h2>
        <p>Программы гражданства и ВНЖ за инвестиции</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-5">
        <div class="freedom-b">
          <div class="freedom-b-h">
            <img src="img/free1.png" alt="Free">
            <div class="t-b">
              <div><span>Срок:</span><strong><span>От 3х месяцев</span></strong></div>
              <div><span>Цена:</span><strong><span>от $157 800</span></strong></div>
            </div>
          </div>
          <div class="freedom-b-c">
            <h5>Сент-Китс и Невис</h5>
            <ul>
              <li>Безвизовый режим в более чем 125 стран</li>
              <li>Отсутствие налогов на мировой доход, дивиденды, богатство и наследство</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <div class="freedom-b">
          <div class="freedom-b-h">
            <img src="img/free2.png" alt="Free">
            <div class="t-b">
              <div><span>Срок:</span><strong><span>От 3х месяцев</span></strong></div>
              <div><span>Цена:</span><strong><span>от $157 800</span></strong></div>
            </div>
          </div>
          <div class="freedom-b-c">
            <h5>Вануату</h5>
            <ul>
              <li>Безвизовый режим в более чем 158 стран</li>
              <li>Налог на прибыль самый низкий среди всех стран ЕС</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="cnt_945">
        <div class="freedom-row">
          <div class="freedom-b2">
              <div class="freedom-b2-h">
                  <img src="img/free3.png" alt="passport">
                  <h5>Срок: <strong>от 6 месяцев</strong></h5>
              </div>
              <div class="freedom-b2-c">
                  <h4>Гренада</h4>
              </div>
          </div>
          <div class="freedom-b2">
              <div class="freedom-b2-h">
                <img src="img/free4.png" alt="passport">
                <h5>Срок: <strong>от 6 месяцев</strong></h5>
              </div>
              <div class="freedom-b2-c">
                <h4>Кипр</h4>
              </div>
          </div>
          <div class="freedom-b2">
              <div class="freedom-b2-h">
                <img src="img/free5.png" alt="passport">
                <h5>Срок: <strong>от 6 месяцев</strong></h5>
              </div>
              <div class="freedom-b2-c">
                <h4>Мальта</h4>
              </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
	    <a href="" class="btn btn225">Посмотреть все</a>
	  </div>
  </div>
</section>