<section class="header">
	<div class="cnt">
		<div class="header-video">
			<video autoplay preload loop muted>
				<source src="video/video.mp4">
			</video>
		</div>
		<div class="row justify-content-center">
			<div class="col-lg-8 text-center">
				<h1>Мы помогаем получать
					гражданство и ВНЖ
					уже более 8 лет</h1>
			</div>
			<div class="col-lg-7 text-center">
				<p>Работая с нами <strong>вы гарантировано получите результат</strong>
					Мы помогли получить более 100 граждантсв и ВНЖ</p>
					<a href="#fd" class="btn view-programms">Посмотреть 18 программ</a>
			</div>
		</div>
	</div>
</section>
