<section class="media">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Мы в СМИ</h2>
        <p>Наша экспертиза в вопросах второго гражданства, может помочь вам сделать
            правильный выбор, поэтому мы постоянно делимся своим опытом. У нас более
            300х опубликованых статей в разных изданиях Росии, Украины и Казахстана.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <nav>
          <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">Россия</a>
            <a class="nav-item nav-link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Украина</a>
            <a class="nav-item nav-link" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">Казахстан</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="owl-carousel owlc1">
              <div class="owl-flex">
                <div>
                  <img src="img/forbes.png" alt="Forbes">
                  <p>Публикаций: 48</p>
                </div>
                <div>
                  <img src="img/snob.png" alt="Snob">
                  <p>Публикаций: 48</p>
                </div>
              </div>
              <div class="owl-flex">
                <div>
                  <img src="img/medium.png" alt="Medium">
                  <p>Публикаций: 48</p>
                </div>
                <div>
                  <img src="img/argum.png" alt="Argumenty I Facty">
                  <p>Публикаций: 48</p>
                </div>
              </div>
              <div class="owl-flex">
                <div>
                  <img src="img/vedomosti.png" alt="Vedomosti">
                  <p>Публикаций: 48</p>
                </div>
                <div>
                  <img src="img/invest.png" alt="InvestFuture">
                  <p>Публикаций: 48</p>
                </div>
              </div>
              <div class="owl-flex">
                <div>
                  <img src="img/lenta.png" alt="Lenta.Ru">
                  <p>Публикаций: 48</p>
                </div>
                <div>
                  <img src="img/vcru.png" alt="VCRU">
                  <p>Публикаций: 48</p>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            <div class="owl-carousel owlc2">
              <div class="owl-flex">
                    <div>
                      <img src="img/forbes.png" alt="Forbes">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/snob.png" alt="Snob">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
              <div class="owl-flex">
                    <div>
                      <img src="img/medium.png" alt="Medium">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/argum.png" alt="Argumenty I Facty">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
              <div class="owl-flex">
                    <div>
                      <img src="img/vedomosti.png" alt="Vedomosti">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/invest.png" alt="InvestFuture">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
              <div class="owl-flex">
                    <div>
                      <img src="img/lenta.png" alt="Lenta.Ru">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/vcru.png" alt="VCRU">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
            <div class="owl-carousel owlc3">
              <div class="owl-flex">
                    <div>
                      <img src="img/forbes.png" alt="Forbes">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/snob.png" alt="Snob">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
              <div class="owl-flex">
                    <div>
                      <img src="img/medium.png" alt="Medium">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/argum.png" alt="Argumenty I Facty">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
              <div class="owl-flex">
                    <div>
                      <img src="img/vedomosti.png" alt="Vedomosti">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/invest.png" alt="InvestFuture">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
              <div class="owl-flex">
                    <div>
                      <img src="img/lenta.png" alt="Lenta.Ru">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/vcru.png" alt="VCRU">
                      <p>Публикаций: 48</p>
                    </div>
              </div>
            </div>
          </div>
        </div>
        <div class="mob-tabs">
          <ul>
            <li>
              <div class="mob-tabs-a">
                <a href="">Россия</a>
              </div>
              <div class="mob-tabs-c active">
                <div class="owl-carousel owlc1">
                  <div class="owl-flex">
                    <div>
                      <img src="img/forbes.png" alt="Forbes">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/snob.png" alt="Snob">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/medium.png" alt="Medium">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/argum.png" alt="Argumenty I Facty">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/vedomosti.png" alt="Vedomosti">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/invest.png" alt="InvestFuture">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/lenta.png" alt="Lenta.Ru">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/vcru.png" alt="VCRU">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs-a">
                <a href="">Украина</a>
              </div>
              <div class="mob-tabs-c">
                <div class="owl-carousel owlc2">
                  <div class="owl-flex">
                    <div>
                      <img src="img/forbes.png" alt="Forbes">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/snob.png" alt="Snob">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/medium.png" alt="Medium">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/argum.png" alt="Argumenty I Facty">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/vedomosti.png" alt="Vedomosti">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/invest.png" alt="InvestFuture">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/lenta.png" alt="Lenta.Ru">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/vcru.png" alt="VCRU">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="mob-tabs-a">
                <a href="">Казахстан</a>
              </div>
              <div class="mob-tabs-c">
                <div class="owl-carousel owlc3">
                  <div class="owl-flex">
                    <div>
                      <img src="img/forbes.png" alt="Forbes">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/snob.png" alt="Snob">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/medium.png" alt="Medium">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/argum.png" alt="Argumenty I Facty">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/vedomosti.png" alt="Vedomosti">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/invest.png" alt="InvestFuture">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                  <div class="owl-flex">
                    <div>
                      <img src="img/lenta.png" alt="Lenta.Ru">
                      <p>Публикаций: 48</p>
                    </div>
                    <div>
                      <img src="img/vcru.png" alt="VCRU">
                      <p>Публикаций: 48</p>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>