<section class="popular">
  <div class="cnt">
    <div class="row no-gutters justify-content-center">
      <div class="col-12 col-md-8 text-center">
        <h2>Самые популярные вопросы и ответы на них</h2>
      </div>
    </div>
    <div class="row owl-carousel mob-c-1">
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>В какой стране лучше
                всего получить
                гражданство?</h6>
          </div>
          <div class="popular-b-c">
            <p>Все очень индивидуально. У нас есть более 20ти программ гражданства и ВНЖ за инвестиции. <strong>Мы подберем индивидуальное решение</strong> для Вашей семьи исходя из ваших целей и задач. Расскажем все плюсы и минусы выбраной программы.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Как происходит процедура получения гражданства или ВНЖ?</h6>
          </div>
          <div class="popular-b-c">
            <p><strong>Оставьте заявку или позвоните нам.</strong> Мы подберем для вас индивидуальное решение, которое будет учитывать все обстоятельства, а так же ваши цели и задачи. Затем мы оформляем и подаем документы. Ваше учавствие минимальное. И получаете гражданство или ВНЖ.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Какие документы нужны для получения гражданства или ВНЖ?</h6>
          </div>
          <div class="popular-b-c">
            <p><strong>Базовый пакет документов</strong> который обязательно нужен для любой из программ включает:  паспорт, 6ть фотографий, свидетельство о рождении, об образовании, водительские права, медицинская справка.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Где находятся офисы компании Migronis?</h6>
          </div>
          <div class="popular-b-c">
            <p><strong>Наши офисы есть в 6 странах:</strong> Россия, Украина, Португалия, Сент-Китс, Казахстан и Антигуа.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Какая стоимость услуг?</h6>
          </div>
          <div class="popular-b-c">
            <p><strong>Стоимость зависит от выбранной программы и вида инвестиций.</strong> Оставьте заявку и мы подберем для вас самое оптимальное решение.</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xl-4">
        <div class="popular-b">
          <div class="popular-b-h">
            <h6>Когда и как происходит оплата?</h6>
          </div>
          <div class="popular-b-c">
            <p><strong>Вы оплачиваете услугу только после получения положительного результата.</strong> У нас есть наличный и безналичный расчет.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>