<section class="work">
  <div class="cnt">
    <div class="row text-center">
      <div class="col-12">
        <h2>Если вы работаете с нами, вы точно получите результат</h2>
        <p><strong>4 простых шага как проходит работа с нами</strong></p>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-md-6 col-lg-6">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Помогаем выбрать самый выгодную и подходящую для вас программу</h6>
          </div>
          <div class="work-b-c">
            <p>За годы нашей работы мы сталкивались с разными кейсами и основываясь на своем опыте <strong>мы поможем подобрать вам самую подходящую</strong> для ваших целей и задач программу.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-lg-6">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Минимум вашего участия, вся бумажная работа - за нами</h6>
          </div>
          <div class="work-b-c">
            <p><strong>Мы берем всю бумажную работу на себя.</strong>Вам не нужно будет ехать в страну получения паспорта. С самого первого заонка и до получения паспорта у вас это займет не более 3х часов.</p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-lg-6">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Оформление всех документов без посредников</h6>
          </div>
          <div class="work-b-c">
            <p>Мы сертифицированы во всех странах где можно купить гражданство. Поэтому сами подадим все необходимые документы и будем разбиратся с бумажной волокитой. В сложных кейсах <strong>мы сами решаем все с правительством.</strong></p>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-md-6 col-lg-6">
        <div class="work-b">
          <div class="work-b-h">
            <h6>Вы платите за положительный результат</h6>
          </div>
          <div class="work-b-c">
            <p><strong>Сперва вы получаете паспорт</strong> и только после этого оплачиваете наши услуги.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>