<section class="world">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-12 text-center">
        <h2>Офисы по всему миру</h2>
        <p>Компания Migronis уже более 8 лет на рынке. Наш опыт
            позволяет нам прогнозировать конечный результат. Мы экономим ваше время.</p>
      </div>
      <div class="col-md-8">
        <nav>
          <div class="nav nav-tabs" id="nav-tab2" role="tablist">
            <a class="nav-item nav-link active" id="nav-euro-tab" data-toggle="tab" href="#nav-euro" role="tab" aria-controls="nav-euro" aria-selected="true">Европа</a>
            <a class="nav-item nav-link" id="nav-sredvos-tab" data-toggle="tab" href="#nav-sredvos" role="tab" aria-controls="nav-sredvos" aria-selected="false">Средний Восток</a>
            <a class="nav-item nav-link" id="nav-zapamer-tab" data-toggle="tab" href="#nav-zapamer" role="tab" aria-controls="nav-zapamer" aria-selected="false">Западная Америка</a>
            <a class="nav-item nav-link" id="nav-kariby-tab" data-toggle="tab" href="#nav-kariby" role="tab" aria-controls="nav-kariby" aria-selected="false">Карибы</a>
            <a class="nav-item nav-link" id="nav-sng-tab" data-toggle="tab" href="#nav-sng" role="tab" aria-controls="nav-sng" aria-selected="false">СНГ</a>
            <a class="nav-item nav-link" id="nav-ocean-tab" data-toggle="tab" href="#nav-ocean" role="tab" aria-controls="nav-ocean" aria-selected="false">Океания</a>
          </div>
        </nav>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active" id="nav-euro" role="tabpanel" aria-labelledby="nav-euro-tab">
            <img src="img/map2.png" alt="Karta">
          </div>
          <div class="tab-pane fade" id="nav-sredvos" role="tabpanel" aria-labelledby="nav-sredvos-tab">
            <img src="img/map2.png" alt="Karta">
          </div>
          <div class="tab-pane fade" id="nav-zapamer" role="tabpanel" aria-labelledby="nav-zapamer-tab">
            <img src="img/map2.png" alt="Karta">
          </div>
          <div class="tab-pane fade" id="nav-kariby" role="tabpanel" aria-labelledby="nav-kariby-tab">
            <img src="img/map2.png" alt="Karta">
          </div>
          <div class="tab-pane fade" id="nav-sng" role="tabpanel" aria-labelledby="nav-sng-tab">
            <img src="img/map2.png" alt="Karta">
          </div>
          <div class="tab-pane fade" id="nav-ocean" role="tabpanel" aria-labelledby="nav-ocean-tab">
            <img src="img/map2.png" alt="Karta">
          </div>
        </div>
        <div class="mob-tabs2">
          <ul>
            <li>
              <div class="mob-tabs2-a">
                <a href="">Европа</a>
              </div>
              <div class="mob-tabs-c">
                <h5>Ukraine, KYIV</h5>
                <p>Yevhena Sverstyuka st. 11B, office 500</p>
                <img src="" alt="">
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>