<section class="conc" id="con">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-lg-7">
        <h2>Выводы</h2>
        <p>Преимуществами паспорта Гренады уже пользуются 1,300 инвесторов</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-5">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Свободное передвижение<strong>130 безвизовых стран</strong></p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="benefits-l">
          <li>
          <p><span class="fas fa-check"></span>Возможность оформить визу инвестора<strong>Е-2</strong></p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Оптимизация <strong>налогообложения</strong></p>
          </li>
        </ul>
      </div>
      <div class="col-md-5">
        <ul class="benefits-l">
          <li>
            <p><span class="fas fa-check"></span>Долгосрочные визы в <strong>Канаду и США</strong></p>
          </li>
        </ul>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-9">
        <div class="conc-b">
          <div class="conc-b__i">
            <p>Сложность, с которой также иногда сталкиваются наши клиенты, это задержка при получении подтверждения от правительства на этапе due diligence. Правительство не вовремя выдает решения или может запросить дополнительные документы. Такие случаи встречаются на 1 из 10 кейсов.</p>
            <img src="img/chart.png" alt="Chart">
          </div>
          <div class="conc-b__i">
            <p>При выборе опции инвестирования в недвижимость намного более интересные условия предлагает Сент-Китс и Невис, Антигуа и Барбуда, и Доминика. Более подробно о том, как стать совладельцем отеля известных мировых сетей, получать доход от 2% до 7% и оформить паспорт для всей семьи вы можете узнать в этой статье. На Гренаде также есть несколько интересных опций, однако стоимость входа дороже — от $350К. Вероятно, в ближайшем будущем правительство уменьшит стоимость, чтобы конкурировать с другими программами.</p>
          </div>
          <div class="conc-b__i">
            <p>Паспорт Гренады, в основном, интересует тех инвесторов, кому важна виза Е-2 в США, т.к. граждане России и многих других постсоветских стран не могут претендовать на этот тип визы. Бизнес виза E-2 выдается инвестору, заинтересованному в развитии бизнеса в США, сроком до 2-х лет, и ее можно продлевать неограниченное количество раз.</p>
            <p>Заявка может быть рассмотрена в срочном порядке (15 дней) за дополнительную плату. Минимальная сумма инвестиций программой не определена. Существенными считаются инвестиции в размере от $50 тыс. Также заявитель должен создать около 4-х рабочих мест и активно участвовать в развитии компании.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>