<section class="divider">
  <div class="cnt">
    <div class="row">
      <div class="col-md-7 offset-md-2">
        <h4>РЕЗУЛЬТАТ 7 ЭТАПА:</h4>
        <p>Получено письмо об одобрении прошения гражданства</p>
      </div>
      <div class="divider-b">
        <a href="img/d3.png" data-fancybox="images" data-caption=""><img src="img/d3.png" alt="Pass"></a>
        <a href="img/d4.png" data-fancybox="images" data-caption=""><img src="img/d4.png" alt="Pass"></a>
      </div>
    </div>
  </div>
</section>