<section class="header header-uslugi header-case1">
	<div class="cnt">
		<div class="row justify-content-center">
			<div class="col-md-8 col-xl-6 col-lg-7 text-center">
				<h1>Паспорт Гренады</h1>
			</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-6 text-center">
        <p>Самое подробное руководство по получению
          гражданства за инвестиции</p>
			</div>
    </div>
  </div>
  <div class="header-uslugi-anch">
    <div class="cnt">
      <div class="header-uslugi-anch__row">
        <div class="header-uslugi-anch__item">
          <a href="#st1">Этапы</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#dif">Сложности</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#is">Пути решения</a>
        </div>
        <div class="header-uslugi-anch__item">
          <a href="#con">Выводы</a>
        </div>
      </div>
    </div>
  </div>
</section>