<section class="info">
  <div class="cnt">
    <div class="row justify-content-center text-center">
      <div class="col-12">
        <h2>Заголовок</h2>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-md-10">
        <p>В этой статье мы распишем руководство по оформлению гражданства Гренады за инвестиции в Национальный Фонд Трансформации в мельчайших подробностях, также акцентируем ваше внимание на важных деталях.</p>
        <p>Ознакомление с информацией займет не менее 10–15 минут, но здесь вы найдете ответы на все интересующие вас вопросы. Только четкие факты и конкретика, основанная на пятилетней практике работы на рынке, а именно с момента перезапуска программы в 2013 году.</p>
        <div class="info-b">
          <div class="info-b__t">
            <span>Время чтения: <strong>15 минут</strong></span>
          </div>
          <div class="info-b__r">
            <span>Нет времени читать статью?</span>
          </div>
          <div class="info-b__b">
            <a href="" class="btn201 btn201_30 btn201_blue">Отправить на email</a>
            <a href="" class="btn-y btn-y201">Посмотреть видео</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>