<section class="stage stage5">
	<div class="cnt">
		<div class="row justify-content-center text-center">
			<div class="col-lg-6">
				<h4>Этап 5</h4>
				<h3>Заполнение государственных форм
          на получение гражданства</h3>
				<a href="" class="btn207">Длительность: 90 дней</a>
			</div>
		</div>
		<div class="row mob-c-1 justify-content-center">
			<div class="col-md-6 col-xl-4">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает заявитель?</h6>
					</div>
					<div class="popular-b-c">
						<p>Выполняет инвестиционное требование — вносит дотацию в правительственный фонд. Оплачивает остаток стоимости услуг компании Мигронис.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-4">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает компания?</h6>
					</div>
					<div class="popular-b-c">
						<p>Высылает клиенту дополнительные уведомления — письма-подтверждения от Подразделения по гражданству. После завершения процедуры Due diligence высылает инвестору положительное решение о выдаче гражданства и инструкции по внесению дотации в правительственный фонд.</p>
					</div>
				</div>
      </div>
			<div class="col-md-6 col-xl-4">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает правительство?</h6>
					</div>
					<div class="popular-b-c">
						<p>Осуществляет проверку документов. На каждом этапе проверки высылает  подтверждающие письма — переход на вторую стадию процессинга, одобрение прошения.</p>
					</div>
				</div>
			</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="stage-costs">
          <h4>Расходы на 5 этапе</h4>
          <p><strong>$150,000</strong></p>
          <p>Затратная часть на оплату проверки на благонадежность и правительственные сборы для каждого заявителя старше 17 лет.</p>
          <p><strong>$200,000</strong></p>
          <p>Оплата безвозвратной дотации, за семью из 4 человек.</p>
          <p>Услуги компании Мигронис (50% или 100% в зависимости от выбранного пакета)</p>
        </div>
      </div>
    </div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="stage-alert">
					<h4>Обратите внимание</h4>
					<p><strong>Условия оплаты дотации</strong></p>
          <p>Дотация оплачивается только после одобрения заявки подразделением по вопросам гражданства Гренады (после 3–4 месяцев после подачи документов). Полная сумма должна быть перечислена с личного счета инвестора или компании, в которой инвестор является бенефициаром.</p>
				</div>
			</div>
		</div>
	</div>
</section>