<section class="stage stage1" id="st1">
	<div class="cnt">
		<div class="row justify-content-center text-center">
			<div class="col-12">
				<h4>Этап 1</h4>
				<h3>Предварительная проверка и подписание договора</h3>
				<a href="" class="btn207">Длительность: 2 дня</a>
			</div>
		</div>
		<div class="row mob-c-1 justify-content-center">
			<div class="col-md-6 col-xl-5">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает заявитель?</h6>
					</div>
					<div class="popular-b-c">
						<p>Подписывает договор с компанией, вносит предоплату в размере 50% стоимости услуг компании (сумма зависит от выбранного пакета услуг).</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-5">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает компания?</h6>
					</div>
					<div class="popular-b-c">
						<p>Осуществляет бесплатную предварительную проверку документов заявителя до подписания договора для того, чтобы оценить шансы и возможные риски в процессе получения гражданства. Готовит договор.</p>
					</div>
				</div>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="stage-alert">
					<h4>Обратите внимание</h4>
					<p><strong>Каждый кейс компания рассматривает индивидуально</strong></p>
					<p>Готовится таблица с разными вариантами гражданства в зависимости от целей, сроков, бюджетов, состава семьи. Дополнительно готовятся индивидуальные пакеты с условиями. Только после того, когда у заявителя полная картина и есть на руках данные о проверке - компания заявителем заключают договор.</p>
				</div>
			</div>
		</div>
	</div>
</section>