<section class="stage stage3">
	<div class="cnt">
		<div class="row justify-content-center text-center">
			<div class="col-lg-6">
				<h4>Этап 3</h4>
				<h3>Заполнение государственных форм
          на получение гражданства</h3>
				<a href="" class="btn207">Длительность: 20 дней</a>
			</div>
		</div>
		<div class="row mob-c-1 justify-content-center">
			<div class="col-md-6 col-xl-5">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает заявитель?</h6>
					</div>
					<div class="popular-b-c">
						<p>Заполняет на русском языке анкеты, которые понадобятся для заполнения государственных форм. Подписывает подготовленные компанией к подаче государственные формы.</p>
					</div>
				</div>
			</div>
			<div class="col-md-6 col-xl-5">
				<div class="popular-b">
					<div class="popular-b-h">
						<h6>Что делает компания?</h6>
					</div>
					<div class="popular-b-c">
						<p>Специалисты компании заполняют каждую государственную форму от лица клиента,  организовывают и контролируют процесс сбора всех справок, переводов и легализации.</p>
					</div>
				</div>
			</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="stage-doc">
          <h4>Перечень необходимых на данном этапе документов</h4>
          <p>Для Гренады подаются цветные копии с апостилем. Пакет документов подается на каждого члена семьи, который включен в заявку на получение гражданства Гренады за инвестиции.</p>
          <div class="stage-doc-drop">
            оТКРЫТЬ СПИСОК ДОКУМЕНТОВ
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-10">
        <div class="stage-costs">
          <h4>Расходы на 3 этапе</h4>
          <p><strong>$200</strong></p>
          <p>затраты на доставку пакета документов зависят от веса документов.</p>
        </div>
      </div>
    </div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="stage-alert">
					<h4>Обратите внимание</h4>
					<p><strong>Проверка перевода документов</strong></p>
          <p>В процессе подготовки пакета документов инвесторы часто полагаются на работу переводчиков, которые допускают небольшие ошибки, из-за которых в итоге приходится переделывать документ — заново переводить его и апостилировать. Мы сверяем каждую букву, что позволяет исключить возможные ошибки в написании, например, фамилии. Это позволяет нашим клиентам экономить время и деньги.</p>
          <p><strong>Заверенная подпись</strong></p>
          <p>Подпись на госудаорственных формах должна быть заверена нотариусом или адвокатом (мы также помогаем с этим).</p>
				</div>
			</div>
		</div>
	</div>
</section>