<section class="stage stage8">
	<div class="cnt">
		<div class="row justify-content-center text-center">
			<div class="col-lg-7">
        <h2>Мы делимся своим опытом чтобы Вам было проще принять решение</h2>
			</div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8">
        <iframe src="https://www.youtube.com/embed/ukV48KtEuBE" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
      </div>
    </div>
		<div class="row justify-content-center">
			<div class="col-md-10">
				<div class="stage-alert">
          <p>По состоянию на июнь 2018 года <strong>более 20-ти наших клиентов</strong> уже получили паспорта, при этом не было ни одного отказа. Данная программа не так популярна среди наших клиентов, как программа Сент-Китс и Невис, Доминики, и Антигуа и Барбуды, где количество кейсов намного больше, что связано с несколькими факторами:</p>
				</div>
			</div>
		</div>
	</div>
</section>