<section class="steps" id="dif">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-lg-6 text-center">
        <h2>Сложности при оформлении
          гражданства и пути их решения</h2>
      </div>
      <div class="col-md-9">
        <div class="steps-b">
          <div class="steps-b__i">
            <p>На этапе подачи документов заявитель должен предоставить справку о несудимости не только из родной страны проживания, но и всех стран, где он жил дольше одного года  в течение последних 10 лет. Временами это очень затруднительно для клиента,  поэтому мы помогаем ему получить необходимые документы максимально быстро.</p>
          </div>
          <div class="steps-b__i">
            <p>На этапе заполнения государственных форм переводчики могут допустить незначительные ошибки в написании, из-за чего документы нужно переводить и апостилировать еще раз, а это требует времени и денег. Именно поэтому мы лично переводим документы и заполняем все формы. Подготовленные нашей компанией кейсы быстро проходят в агентстве по гражданству, ведь их не нужно переделывать.</p>
          </div>
          <div class="steps-b__i">
            <p>Желающие оформить гражданство Гренады за инвестиции должны учитывать, что перевод денег может где-то задержаться или банк может отклонить транзакцию, а деньги в банки на Карибах идут достаточно долго. Срок поступления денег на счет в банке не зависит от нас или от клиента. При этом подача документов в Управление по вопросам гражданства возможна только после поступления оплаты за проверку благонадежности. Перечислить деньги лучше заранее. На перевод может уйти 2–3 недели, если клиент лично общается с представителями карибского банка, в который направлены деньги.</p>
          </div>
          <div class="steps-b__i steps-b__a">
            <h4>Решение:</h4>
            <p>Средства могут быть переведены через нашу компанию! Ежемесячно с наших счетов переводятся десятки транзакций на Карибы, платежи понятны банку и поэтому проходят быстрее</p>
          </div>
          <div class="steps-b__i">
            <p>Сложность, с которой также иногда сталкиваются наши клиенты, это задержка при получении подтверждения от правительства на этапе due diligence. Правительство не вовремя выдает решения или может запросить дополнительные документы. Такие случаи встречаются на 1 из 10 кейсов.</p>
          </div>
          <div class="steps-b__i steps-b__a">
            <h4>Решение:</h4>
            <p>Предоставление полного пакета документов изначально. Также задержки могут быть в период повышенного спроса на оформление гражданства.</p>
          </div>
          <div class="steps-b__i">
            <p>Супруги, находящиеся в гражданском браке, не могут получить гражданство Гренады в рамках одной инвестиции. Единственная возможная форма — это брак.</p>
          </div>
          <div class="steps-b__i">
            <p>Паспорт Гренады нужно продлевать через 5 лет после получения. Процедура продления занимает около недели, для этого подается паспортная форма, оригинал паспорта, копия свидетельства о натурализации, и оплачивается паспортный сбор.</p>
          </div>
          <div class="steps-b__i">
            <p>После получения паспорта, можно также оформить местные водительские права, которые могут попросить при открытии счета в заграничном банке. Для получения прав необходимо несколько раз прибыть на остров. При подтверждении связи с островом также могут попросить предоставить счет за коммунальные услуги (utility bill), его несложно получить при подаче документов через покупку недвижимости.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>