<section class="with-us">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12 text-center">
        <h2>С нами вы легко сможете организовать безопасный
          "запасной аэродром" для вашей семьи</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-5 d-none d-lg-block">
        <div class="with-us-b">
          <img src="img/krist.png" alt="Kristina">
          <div class="t-b">
            <h5>Кристина Ружило</h5>
            <p>Управляющий партнер</p>
          </div>
        </div>
      </div>
      <div class="col-12 offset-lg-1 col-lg-5">
        <div class="with-us-b">
          <h3>Мы поможем выбрать самую
              подходящую программу</h3>
          <p>Напишите нам или позвоните по телефону  +7 499 350 2137<br>
              Мы свяжемся с вами в течении нескольких минут.<br>
              Оформив второе гражданство или ВНЖ вы получаете:</p>
          <ul>
            <li>запасной аэродром</li>
            <li>налоговое планирование</li>
            <li>конфиденциальность и престиж</li>
          </ul>
          <p>У Вас будет персональный менеджер на протяжении всего процесса,
              который ответит на любой вопрос и посоветует наилучшее решение.
          </p>
          <a href="" class="btn">Заказать консультацию</a>
        </div>
      </div>
    </div>
  </div>
</section>