<section class="with-us with-us4">
  <div class="cnt">
    <div class="row justify-content-center">
      <div class="col-md-10 col-12 text-center">
        <h2>В каких случаях выбирают гражданство Гренады?</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-4 d-none d-lg-block">
        <div class="with-us-b">
          <img src="img/krist.png" alt="Kristina">
        </div>
      </div>
      <div class="col-12 offset-lg-1 col-lg-7">
        <div class="with-us-b">
          <p>Паспортная программа Гренады подходит, в первую очередь, тем инвесторам, которым в дополнение к стандартному перечню безвизовых стран, интересен также безвизовый Китай, и возможность оформить бизнес-визу Е-2 в США, недоступную гражданам РФ, Китая и других стран. Помимо этого, держатели паспорта могут рассчитывать на социальную и политическую безопасность, льготное налогообложение и полную конфиденциальность.</p>
          <p>Получить карибское гражданство может любой гражданин, который отвечает требованиям программы. При этом важно понимать, что конечный результат и скорость принятия решения властями Гренады зависит от достоверности и полноты представленных документов. Мы рекомендуем клиентам обращать особое внимание на «срок годности» документов. Например, заключения по результатам медосмотра и подтверждения оплаты коммунальных услуг лучше предоставлять ближе к сроку подачи документов</p>
          <div class="t-b">
            <h4>Кристина Ружило</h4>
            <p>Эксперт по программе гражданства за инвестиции Антигуа и Барбуды</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>