<section class="build">
  <div class="cnt">
    <div class="row">
      <div class="col-12">
        <div class="build-nav">
          <div class="build-nav__i"><a class="active" href="">Недвижимость на Карибах</a></div>
          <div class="build-nav__i"><a href="">Недвижимость в ЕС</a></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="build-b">
          <img src="img/z.png" alt="Company">
          <div class="build-b__h">
            <img src="img/r.png" alt="Company">
            <p>Maison Rouge — клубный дом премиум-класса с апартаментами в Тверском районе. Сдача дома в 3-м квартале 2019 года.
                Цена — от 22 460 000.</p>
            <a href="" class="btn btn251">скачать презентацию</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="build-b">
          <img src="img/r.png" alt="Company">
          <div class="build-b__h">
            <img src="img/r.png" alt="Company">
            <p>Maison Rouge — клубный дом премиум-класса с апартаментами в Тверском районе. Сдача дома в 3-м квартале 2019 года.
                Цена — от 22 460 000.</p>
            <a href="" class="btn btn251">скачать презентацию</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="build-b">
          <img src="img/z.png" alt="Company">
          <div class="build-b__h">
            <img src="img/r.png" alt="Company">
            <p>Maison Rouge — клубный дом премиум-класса с апартаментами в Тверском районе. Сдача дома в 3-м квартале 2019 года.
                Цена — от 22 460 000.</p>
            <a href="" class="btn btn251">скачать презентацию</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="build-b">
          <img src="img/r.png" alt="Company">
          <div class="build-b__h">
            <img src="img/r.png" alt="Company">
            <p>Maison Rouge — клубный дом премиум-класса с апартаментами в Тверском районе. Сдача дома в 3-м квартале 2019 года.
                Цена — от 22 460 000.</p>
            <a href="" class="btn btn251">скачать презентацию</a>
          </div>
        </div>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-12">
        <a href="" class="btn btn225">больше</a>
      </div>
    </div>
  </div>
</section>