<div class="popup">
  <div class="free-c" id="id1">
    <span class="free-c__close"></span>
    <h4>Получить бесплатную консультацию</h4>
    <form action="">
      <input type="text" name="Имя" placeholder="Имя" required>
      <input type="email" name="Email" placeholder="Email" required>
      <input type="phone" name="Телефон" placeholder="Телефон" required>
      <button>Отправить запрос</button>
    </form>
  </div>
  <div class="free-c" id="id2">
    <span class="free-c__close"></span>
    <h4>Получить бесплатную консультацию</h4>
    <form action="">
      <input type="text" name="Имя" placeholder="Имя" required>
      <input type="email" name="Email" placeholder="Email" required>
      <input type="phone" name="Телефон" placeholder="Телефон" required>
      <button>Отправить запрос</button>
    </form>
  </div>
</div>